---
title: About siddhartha gudipati
body_class: about
---
.page
  %h2.page-heading /about

  %h3.page-sub-heading I'm a Front End Developer and UI Designer from India.

  %p I am Siddhartha Gudiapti, work as Front end developer and UI Designer at Web 2.0 Innovation Labs, Tata Consultancy Services, Chennai. I have been writing CSS, HTML for the past 4 years. I write elegant and efficient javascript(jQuery).
  %p I do wire-frames for web applications. I also enjoy doing creative jobs like visual design and pencil sketching.

  %p Other than technical work I enjoy cooking. I am also an armature photographer.

  .des-dev.row
    %canvas{:id=>"des_dev", :width=>"200", :height=>"200"}
    .large-6.columns
      %h6 Designer
      %ul
        %li User Interface Design
        %li User Experience Design
        %li Mobile application Design
        %li Web application Design
        %li Prototyping
    .large-6.columns
      %h6 Developer
      %ul
        %li CSS3, HTML5 and Javascript (Front end development)
        %li SASS, Compass and LESS
        %li jQuery, angular.js and backbone.js
        %li Rails and android(Java)
