---
title: My portfolio siddhartha gudipati
body_class: about
---
.page
  %h2.page-heading /portfolio

  %h4.seciton-hedading On going..
  %ul.small-block-grid-2.large-block-grid-3
    %li
      %img{:src => "http://distilleryimage5.s3.amazonaws.com/b4aa934e7d8a11e2968922000a1fbe74_6.jpg", :alt => ""}
    %li
      %img{:src => "http://distilleryimage5.s3.amazonaws.com/b4aa934e7d8a11e2968922000a1fbe74_6.jpg", :alt => ""}
  %h4.seciton-hedading Active
  %ul.small-block-grid-2.large-block-grid-3
    %li
      %img{:src => "http://distilleryimage5.s3.amazonaws.com/b4aa934e7d8a11e2968922000a1fbe74_6.jpg", :alt => ""}
    %li
      %img{:src => "http://distilleryimage5.s3.amazonaws.com/b4aa934e7d8a11e2968922000a1fbe74_6.jpg", :alt => ""}
  %h4.seciton-hedading Old
