@mixin filter-gradient($c1, $c2, $d) {
  background: $c1;
  background: -webkit-linear-gradient($d, $c1, $c2);
  background: linear-gradient($d, $c1, $c2);
}

@import "foundation/normalize";
@import "foundation/foundation";

@import "pages/util";
@import "pages/nav";
@import "pages/animate";
@import "pages/icons";
@import "pages/landing";
@import "pages/page";
@import "pages/portfolio";
@import "pages/project";
@import "pages/art";
@import "pages/about";
@import "pages/popup";
@import "pages/footer";
@import "pages/colorbox";
@import "pages/chart";
@import "pages/hotkeys";
@import "pages/tooltip";

//@import "pages/pagepiling";
