<div class="fixed contain-to-grid">
  <a ng-click="gotoMain()" tabindex="1" class="sr-only sr-only-focusable skip-to-content">Skip to content</a>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <div class="brand anim">
          <a href="#/" ng-click="closeNavbarInMobile('/')" title="Homepage">
            <ng-include src="'images/brand.svg'"></ng-include>
          </a>
        </div>
      </li>
      <li class="toggle-topbar menu-icon"><a href=""><span></span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li ng-class="getClass('/portfolio')">
          <a href="#/portfolio" ng-click="closeNavbarInMobile('/portfolio')">portfolio</a>
        </li>
        <li ng-class="getClass('/design')">
          <a href="#/design" ng-click="closeNavbarInMobile('/design')">design</a>
        </li>
        <li ng-class="getClass('/about')">
          <a href="#/about" ng-click="closeNavbarInMobile('/about')">about</a>
        </li>
        <li>
          <a href="resources/resume.pdf" target="_blank">résumé</a>
        </li>
        <li>
          <a href="http://blog.websiddu.com" target="_blank">blog</a>
        </li>
        <li ng-class="getClass('/contact')">
          <a href="#/contact" ng-click="closeNavbarInMobile('/contact')">contact</a>
        </li>
      </ul>
    </section>
  </nav>
</div>