<header class="fixed contain-to-grid" role="banner">
  <a ng-click="gotoMain()" tabindex="0" class="sr-only sr-only-focusable skip-to-content">Skip to content</a>
  <nav class="top-bar" data-topbar role="navigation" aria-label="Site Navigation">
    <ul class="title-area">
      <li class="name">
        <div class="brand anim">
          <a href="#/" ng-click="closeNavbarInMobile('/')" title="Homepage">
            <ng-include src="'images/brand.svg'"></ng-include>
          </a>
        </div>
      </li>
      <li class="toggle-topbar menu-icon"><a href=""><span></span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li ng-class="getClass('/portfolio')">
          <a href ng-click="closeNavbarInMobile('/portfolio')">Portfolio</a>
        </li>
        <li ng-class="getClass('/design')">
          <a href="" ng-click="closeNavbarInMobile('/design')">Design</a>
        </li>
        <li ng-class="getClass('/about')">
          <a href="" ng-click="closeNavbarInMobile('/about')">About</a>
        </li>
        <li>
          <a href="resources/resume.pdf" target="_blank">Résumé</a>
        </li>
        <li>
          <a href="http://blog.websiddu.com" target="_blank">Blog</a>
        </li>
        <li ng-class="getClass('/contact')">
          <a href="" ng-click="closeNavbarInMobile('/contact')">Contact</a>
        </li>
      </ul>
    </section>
  </nav>
</header>