<div class="fixed contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <div class="brand anim">
                    <a href="#/" ng-click="closeNavbarInMobile('/')">
                        <ng-include src="'images/brand.svg'"></ng-include>
                    </a>
                </div>
            </li>
            <li class="toggle-topbar menu-icon"><a href=""><span></span></a></li>
        </ul>
        <section class="top-bar-section">
            <ul class="right">
<!--                 <li ng-class="getClass('/home')">
                    <a data-href="#/" ng-click="closeNavbarInMobile('/')">home</a>
                </li> -->
                <li ng-class="getClass('/portfolio')">
                    <a data-href="#/portfolio" ng-click="closeNavbarInMobile('/portfolio')">portfolio</a>
                </li>
                <li ng-class="getClass('/design')">
                    <a data-href="#/design" ng-click="closeNavbarInMobile('/design')">design</a>
                </li>
                <li ng-class="getClass('/about')">
                    <a data-href="#/about" ng-click="closeNavbarInMobile('/about')">about</a>
                </li>
                <li>
                    <a href="resources/resume.pdf" target="_blank">résumé</a>
                </li>
                <!--         <li>
          <a href="http://codepen.io/websiddu/" target="_blank">code</a>
        </li> -->
                <!--     <li>
          <a href="#/photos">foto</a>
        </li> -->
                <li>
                    <a href="http://blog.websiddu.com" target="_blank">blog</a>
                </li>
                <li ng-class="getClass('/contact')" ng-click="closeNavbarInMobile('/contact')">
                    <a href="#/contact">contact</a>
                </li>
            </ul>
        </section>
    </nav>
</div>