549546d23239330002000000
<blockquote class="full">
    How we can encourage high school students to volunteer for community service projects?
</blockquote>
<div class="row">
    <div class="large-12 columns">
        <aside class="bb">
            <dl class="metadata">
                <dt>Date</dt>
                <dd>Nov 2014 – Dec 2014</dd>
            </dl>
            <dl class="metadata">
                <dt>My Tasks</dt>
                <dd>User research</dd>
                <dd>Sketching</dd>
                <dd>Wireframing</dd>
                <dd>Prototyping</dd>
                <dd>User testing</dd>
                <dd>Hify Prototyping</dd>
                <dd>Documentation</dd>
            </dl>
            <dl class="metadata">
                <dt>Tools</dt>
                <dd> HTML </dd>
                <dd> CSS</dd>
                <dd> Adobe Photoshop</dd>
                <dd> Adobe Illustrator</dd>
            </dl>
            <dl class="metadata">
                <dt>Platform</dt>
                <dd>Web</dd>
            </dl>
            <dl class="metadata">
                <dt>Collaborators</dt>
                <dd>
                    Amani Ahmed Dye
                </dd>
                <dd>
                    David Harris
                </dd>
            </dl>
        </aside>
        <section>
            <h5 class="section-heading">Summary</h5>
            <div class="section-body">
                <p>
                    With a small team in UW's HCDE 518, I conducted user research; created wireframes, visual designs, a prototype, and detailed specifications; and performed basic user testing for a web application to encourage high school students to participate in community projects.
                </p>
                <div class="link-container">
                    <strong>Project Links</strong>
                    <ol>
                        <li>
                            <a href="http://websiddu.github.io/building-blocks/#/" target="_blank">Link to the prototype</a>
                        </li>
                        <li>
                            <a href="https://drive.google.com/file/d/0B73Qoo-AGhMMRVA3ZXM4Z2owWG8/view?usp=sharing" target="_blank">Final paper/documentation (PDF, 7 MB)</a>
                        </li>
                        <li>
                            <a href="https://drive.google.com/file/d/0B73Qoo-AGhMMNlV6amhJbWhTSVU/view?usp=sharing" target="_blank">Final presentation/documentation (PDF, 14 MB)</a>
                        </li>
                    </ol>
                </div>
            </div>
        </section>
        <section>
            <h5 class="section-heading">Introduction</h5>
            <div class="section-body">
                <p>High school students are older children who are, traditionally in America, 15 to 18 years old. We define volunteering to be any activity, which involves spending time, unpaid, doing something which aims to benefit the environment, an individual, or a group, other than yourself. We also scope community service projects (referred to as projects for the rest of this document) to be activities organized by students, teachers, local businesses/organizations, which were intended to improve the local community in some fashion.</p>
            </div>
        </section>
        <section>
            <h5 class="section-heading">Process</h5>
            <div class="section-body">
                <p>We followed proper UCD process to solve this design problem. We first started with user research followed by ideation, Low-fi prototypes, Hi-fi prototypes and at test our ideas each and every state.</p>
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="http://assets.websiddu.com/buildingblocks/bb_process.png" itemprop="contentUrl">
                        <img src="http://assets.websiddu.com/buildingblocks/bb_process.png" srcset="http://assets.websiddu.com/buildingblocks/bb_process.png 1x, http://assets.websiddu.com/buildingblocks/bb_process@2x.png 2x" itemprop="thumbnail" alt="Process that we followed for this project" data-size="[543, 315]" data-height="315px" data-width="543px">
                    </a>
                    <figcaption itemprop="caption description">Process that we followed for this project</figcaption>
                </figure>

            </div>
        </section>
        <section>
            <h5 class="section-heading">User Research</h5>
            <p>
                As we have the limited time and also we are working with school students. We were asked to choose only 3 user research methods for this project from the 51 different methods in the IDEO cards. So, we choose Surveys, Still Photo Survey, and Affinity Diagram as our research methods.
            </p>
            <div class="section-body">
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="http://assets.websiddu.com/buildingblocks/bb_methods.png" itemprop="contentUrl">
                        <img src="http://assets.websiddu.com/buildingblocks/bb_methods.png" srcset="http://assets.websiddu.com/buildingblocks/bb_methods.png 1x, http://assets.websiddu.com/buildingblocks/bb_methods@2x.png 2x" itemprop="thumbnail" alt="Research methods that choose" data-size="[556, 237]" data-height="237px" data-width="556px">
                    </a>
                    <figcaption itemprop="caption description">Research methods that choose</figcaption>
                </figure>
                <h6>1. Survey</h6>
                <p> The first method we used was “Surveys and Questionnaire". This method uses a list of questions focused on pulling out certain characteristics of users. The users for this method were students and teachers. Since we are working with minors, we had their parents sign a consent form in order to participate. One of our big constraints was time, so this method allowed us to get data from a number of people all at once. We were able to send a survey to students via Facebook and in person using an on-line form, and we also sent a questionnaire to teachers via email. We received 12 responses to the survey. This method also allowed us to target our learning by asking specific questions related to how students are currently using their time to volunteer and how teachers are finding projects. <a href="http://bit.ly/1yFS472" target="_blank"> [Survey Questions]</a> (http://bit.ly/1yFS472)
                </p>
                <h6>  Results </h6>
                <ul>
                    <li>Most students said they spend 8-10 hours or more per week doing school work</li>
                    <li>Most students said they spend (or would spend) 2-4 hours per month volunteering</li>
                    <li>Most students said they have more time to volunteer during the weekend</li>
                    <li>Most students we surveyed are part of a school group or club like ASB (student government).</li>
                    <li>Most students said they keep in touch with school clubs and organizations through text, and also meeting in person and email.</li>
                    <li>Most students volunteer in order to help their community.</li>
                </ul>
                <h6>2. Still Photo Survey</h6>
                <p>This second method we used was the "Still Photo Survey" method. It is used to reveal patterns of behavior that have to do with a certain product or context. It works by following a script of what type of photos to take and shooting those pictures while in the environment of users and stakeholders. We wanted to capture photos of students submitting a project, working on a project, and organizing people.</p>
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="http://assets.websiddu.com/buildingblocks/fig1.png" itemprop="contentUrl">
                        <img src="http://assets.websiddu.com/buildingblocks/fig1.png" itemprop="thumbnail" alt="Few shots form our still photography survey." data-size="[1026, 568]" height="773px" width="1000px" data-height="568px" data-width="1026px">
                    </a>
                    <figcaption itemprop="caption description">Few shots form our still photography survey.</figcaption>
                </figure>
                <h6>3. Affinity Diagram </h6>
                <p>
                    The last method we used was the "Affinity Diagram," which groups particular design elements together based on their relationship to each other - similarities, location, interactions, etc. The users for this method were students and teachers. We thought this would be a great method to compliment the other methods we used. It would allow us to synthesize all of our findings from the surveys and photos by grouping our insights from the data. We were able to write down on post it notes elements of our design based on the data points we gained from users.</p>
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="http://assets.websiddu.com/buildingblocks/bb_affinity@2x.png" itemprop="contentUrl">
                        <img src="http://assets.websiddu.com/buildingblocks/bb_affinity@2x.png" srcset="http://assets.websiddu.com/buildingblocks/bb_affinity@2x.png 2x, http://assets.websiddu.com/buildingblocks/bb_affinity.png 1x" itemprop="thumbnail" alt="Affinity diagram gave us lot of higher level insights." data-size="[1200, 660]" height="773px" width="1000px" data-height="660px" data-width="1200px">
                    </a>
                    <figcaption itemprop="caption description">Affinity diagram gave us lot of higher level insights.</figcaption>
                </figure>
            </div>
        </section>
        <section>
            <h5 class="section-heading">Persona</h5>
            <div class="section-body">
                <div class="gallery shadow">
                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <a href="http://assets.websiddu.com/buildingblocks/bb_persona@2x.png" itemprop="contentUrl">
                            <img src="http://assets.websiddu.com/buildingblocks/bb_persona@2x.png" srcset="http://assets.websiddu.com/buildingblocks/bb_persona@2x.png 2x, http://assets.websiddu.com/buildingblocks/bb_persona@1x.png 1x" itemprop="thumbnail" alt="Different persona created for building blocks " data-size="[1016, 1058]" data-height="1058px" data-width="1016px" style="padding: 20px">
                        </a>
                        <figcaption itemprop="caption description">Different persona created for building blocks </figcaption>
                    </figure>
                </div>
                <p>Detailed persona can be found in this following <a href="https://drive.google.com/file/d/0B73Qoo-AGhMMMDFmd0ttRWoteVE/view?usp=sharing" target="_blank">document</a>.</p>
            </div>
        </section>
        <section>
            <h5 class="section-heading"> Ideation &amp; Low-fi prototypes </h5>
            <div class="section-body">
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="http://assets.websiddu.com/buildingblocks/fig4.png" itemprop="contentUrl">
                        <img src="http://assets.websiddu.com/buildingblocks/fig4.png" itemprop="thumbnail" alt="Image description" data-size="[1200, 371]" height="773px" width="1000px" data-height="371px" data-width="1200px">
                    </a>
                    <figcaption itemprop="caption description">Initial paper sketches for the web application</figcaption>
                </figure>
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="http://assets.websiddu.com/buildingblocks/fig5.png" itemprop="contentUrl">
                        <img src="http://assets.websiddu.com/buildingblocks/fig5.png" itemprop="thumbnail" alt="Image description" data-size="[1605, 692]" height="773px" width="1000px" data-height="692px" data-width="1605px">
                    </a>
                    <figcaption itemprop="caption description">Low-fi prototype for the application</figcaption>
                </figure>
            </div>
        </section>
        <section>
            <h5 class="section-heading">Hi-fi Prototype</h5>
            <div class="section-body">
                <p> The high fidelity wire frames can be found here <a href="http://websiddu.github.io/building-blocks/#/" target="_blank"> http://websiddu.github.io/building-blocks/#/</a>.</p>
                <p>
                    To create a high fidelity prototype we used HTML, CSS and JavaScript. We chose HTML and CSS, because of our familiarity with this technology and flexibility it provided to quickly iterate between versions. We also used “Angular.js” front-end framework for creating different templates and Git/Github for version control. Github allowed us to track and compare our design decisions each at every stage.
                </p>
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="http://assets.websiddu.com/buildingblocks/fig6.png" itemprop="contentUrl">
                        <img src="http://assets.websiddu.com/buildingblocks/fig6.png" itemprop="thumbnail" alt="Image description" data-size="[1500, 1892]" height="773px" width="1000px" data-height="1892px" data-width="1500px">
                    </a>
                    <figcaption itemprop="caption description">High-fi prototype for the application</figcaption>
                </figure>
            </div>
        </section>
        <section>
            <h5 class="section-heading">Usability Testing</h5>
            <div class="section-body">
                <p>For our usability study, we used the think aloud technique along with a survey. The study included five participants total - two teachers and three high school students from TAF Academy in Kent, WA.
                </p>
                <p>We performed the test on the Google Chrome browser with a laptop computer. There was also a camera setup behind the participants, in order to capture their thinking aloud and any critical incidents.</p>
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="http://assets.websiddu.com/buildingblocks/fig7.png" itemprop="contentUrl">
                        <img src="http://assets.websiddu.com/buildingblocks/fig7.png" itemprop="thumbnail" alt="Image description" data-size="[1500, 460]" height="773px" width="1000px" data-height="460px" data-width="1500px">
                    </a>
                    <figcaption itemprop="caption description">One shot from the Usability testing session on our prototype</figcaption>
                </figure>
            </div>
        </section>
        <section>
            <h5 class="section-heading">Report</h5>
            <div class="section-body">
                <p>
                    We wrote a design spec document at the end of the quarter and also presented to the class. You can find the presentation and design spec document here.
                </p>
                <ol>
                    <li>
                        <a href="https://drive.google.com/file/d/0B73Qoo-AGhMMRVA3ZXM4Z2owWG8/view?usp=sharing" target="_blank">Final paper/documentation (PDF, 7 MB)</a>
                    </li>
                    <li>
                        <a href="https://drive.google.com/file/d/0B73Qoo-AGhMMNlV6amhJbWhTSVU/view?usp=sharing" target="_blank">Final presentation/documentation (PDF, 14 MB)</a>
                    </li>
                </ol>
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="http://assets.websiddu.com/buildingblocks/design_spec.png" itemprop="contentUrl">
                        <img src="http://assets.websiddu.com/buildingblocks/design_spec.png" itemprop="thumbnail" alt="Design spec document" data-size="[1500, 460]" data-height="460px" data-width="1500px">
                    </a>
                    <figcaption itemprop="caption description">A shot from design spec document...</figcaption>
                </figure>

            </div>
        </section>
        <section>
            <h5 class="section-heading">Future work</h5>
            <div class="section-body">
                <p>
                    In the future, we’d be interested in running the usability test again with the new design improvements. The test would include more than five participants - five teachers and five students. Ultimately, we’d like for the participants to come from different schools. While TAF Academy was a convenient place to do the usability study, it provided a limited perspective since most students there are already active in community projects. Identifying a few teachers at multiple High Schools who could give us access to their students would be a good route to achieving this goal.
                </p>
                <p>
                    Another feature that we’d like to integrate into the site is an internal messaging system. This would allow users of a project to communicate with their team about the work they are doing. an internal system decreases the need to exchange email addresses when sharing information between team members. Although, there will be a setting to notify users via email when they receive a new internal system message.
                </p>
                <p>
                    We’d also like for at least one of the teachers to run a pilot at their school. The pilot could include one class or multiple classes over a period of at least one semester. This would give us enough data to glean additional insights about the current design. Before running a pilot, the site would also need to finish being developed. This could actually be an opportunity for a High School student to get some experience in user centered design and software development. This project is a gift that keeps on giving.
                </p>
            </div>
        </section>
    </div>
</div>