542f6a6c6633320002000000
<blockquote class="full">
  A data visualization project, visualizing the road accidents in India.
</blockquote>
<div class="row">
  <div class="large-12 columns">
    <aside>
      <dl class="metadata">
        <dt> Date </dt>
        <dd> Nov 2014 </dd>
      </dl>
      <dl class="metadata">
        <dt> Tasks </dt>
        <dd> Design </dd>
        <dd> Development </dd>
      </dl>
      <dl class="metadata">
        <dt> Tools &amp; Technologies </dt>
        <dd> JavaScript</dd>
        <dd> CSS</dd>
        <dd> HTML</dd>
        <dd> Google Maps </dd>
        <dd> D3.js </dd>
      </dl>
    </aside>
    <section>
      <h5 class="section-heading">Summary</h5>
      <div class="section-body">
        <p>India has one of the largest road network in the world. However, Road safety is an issue of national concern. Surge in population and motorization in the country along with expansion of road network contributes to the number of road accidents, injuries and fatalities.</p>
        <p>I tried to visualize various dimensions and magnitude of road accidents in India. This visualization will help to create awareness and assist in decision making in the area of road safety. I hope, this interactive visualization would be useful for policy makers, citizens, and civil society organizations working In areas that have an influence on road safety.</p>
      </div>
      <div class="link-container">
        <strong>Project Links</strong>
        <ol>
          <li>
            <a href="http://websiddu.github.io/road-accidents-in-india/">Link to the application</a>
          </li>
          <li>
            <a href="https://github.com/websiddu/road-accidents-in-india">Link to the sourcecode</a>
          </li>
        </ol>
      </div>
    </section>
    <section>
      <h5 class="section-heading">Video Demo</h5>
      <div class="section-body">
        <iframe width="600" height="450" src="https://www.youtube.com/embed/RaggmoGkFN4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </section>
    <section>
      <h5 class="section-heading">Screenshots</h5>
      <div class="section-body">
        <img src="http://assets.websiddu.com/killer-roads/fig1.png" alt="" data-size="[1439, 759]" data-height="759px" data-width="1439px">
      </div>
    </section>
  </div>
</div>