565caea76b72695349000000
<blockquote class="full">
  Re-Designing Google voice experience to the new Google Material design.
</blockquote>
<div class="row">
  <div class="large-12 columns">
    <aside class="voice" style="background: #20A2B2">
      <dl class="metadata">
        <dt>Date</dt>
        <dd>Oct 2015 – Nov 2015 <small>(2 months)</small></dd>
      </dl>
      <dl class="metadata">
        <dt>Role</dt>
        <dd>UX Unicorn</dd>
      </dl>
      <dl class="metadata">
        <dt>Tasks</dt>
        <dd>User Research</dd>
        <dd>User Experience Design</dd>
        <dd>Prototyping</dd>
        <dd>Visual Design</dd>
        <dd>Front-end Development</dd>
      </dl>
      <dl class="metadata">
        <dt>Tools</dt>
        <dd>Sketch</dd>
        <dd>Pen & Paper</dd>
      </dl>
    </aside>
    <section>
      <h5 class="section-heading">Summary</h5>
      <div class="section-body">
        <p class="alert warning"> This is a side project that I did to get familiar with Google material design. I didn't build this for Google.</p>
        <div class="link-container">
          <strong>Project Links</strong>
          <ol>
            <li>
              <a href="">Link to the prototype</a>
            </li>
          </ol>
        </div>
      </div>
    </section>
    <section>
      <h5 class="section-heading">Process</h5>
      <div class="section-body">
        <p></p>
        <div class="gallery shadow">
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/voice/process.png" itemprop="contentUrl">
              <img src="http://assets.websiddu.com/voice/process.png" itemprop="thumbnail" alt="Screenshot showing all the different icons available" data-size="[1000, 773]">
            </a>
            <figcaption itemprop="caption description">I followed the User Centered design process with little tweakes.</figcaption>
          </figure>
        </div>
      </div>
    </section>
    <section>
      <h5 class="section-heading">Competitive analysis</h5>
      <div class="section-body">
        <p>To begin with I did some research on the similar products. There are many products that are similar to Google Voice and serves the same purpose. I installed most of the mobile application on my phone and tried them out to get some inspiration. There are few common things that all these application do, for example give a new number, Voice mail list, Transcripts etc...</p>
        <div class="gallery shadow">
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/voice/comp_analysis.png" itemprop="contentUrl">
              <img src="http://assets.websiddu.com/voice/comp_analysis.png" itemprop="thumbnail" alt="Competitive analysis document">
            </a>
            <figcaption itemprop="caption description">Overview of the competitive analysis document</figcaption>
          </figure>
        </div>
      </div>
    </section>
    <section>
      <h5 class="section-heading">Persona</h5>
      <div class="section-body">
        <p>I created persona based out of my initial research</p>
        <div class="gallery full padding shadow">
          <div class="row">
            <div class="columns large-4">
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="http://assets.websiddu.com/voice/P1.png" itemprop="contentUrl">
                  <img src="http://assets.websiddu.com/voice/P1.png" itemprop="thumbnail" alt="Persona 1">
                </a>
                <figcaption itemprop="caption description">First persona, Dick chow</figcaption>
              </figure>
            </div>
            <div class="columns large-4">
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="http://assets.websiddu.com/voice/P2.png" itemprop="contentUrl">
                  <img src="http://assets.websiddu.com/voice/P2.png" itemprop="thumbnail" alt="Persona 1">
                </a>
                <figcaption itemprop="caption description">First persona, Ramya Sri</figcaption>
              </figure>
            </div>
            <div class="columns large-4">
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="http://assets.websiddu.com/voice/P3.png" itemprop="contentUrl">
                  <img src="http://assets.websiddu.com/voice/P3.png" itemprop="thumbnail" alt="Persona 1">
                </a>
                <figcaption itemprop="caption description">First persona, Greg Roberts </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <h5 class="section-heading">Initial sketches</h5>
      <div class="section-body">
        <p>Coming soon</p>
        <div class="gallery shadow">
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/voice/flow.png" itemprop="contentUrl">
              <img src="http://assets.websiddu.com/voice/flow.png" itemprop="thumbnail" alt="Screenshot showing all the different icons available" data-size="[1000, 773]">
            </a>
            <figcaption itemprop="caption description">I did a flow diagram using all the wireframes. This helped to get the overall flow of the application correct. </figcaption>
          </figure>
        </div>
      </div>
    </section>
    <section>
      <h5 class="section-heading">Logo</h5>
      <div class="section-body">
        <p>The logo for Google voice currently is not according to the material design. I tried to design the Google voice logo following the material design standards. I laser cut the logo to get the shadows right.</p>
        <div class="gallery shadow">
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/voice/voice_logo.png" itemprop="contentUrl">
              <img srcset="http://assets.websiddu.com/voice/voice_logo.png 2x,http://assets.websiddu.com/voice/voice_logo.png 1x" src="http://assets.websiddu.com/voice/voice_logo.png" itemprop="thumbnail" alt="Google Voice logo with and a wood laser cut logo">
            </a>
            <figcaption itemprop="caption description">To get the shadows right I laster cut the logo.</figcaption>
          </figure>
        </div>
      </div>
    </section>
    <section>
      <h5 class="section-heading">Design</h5>
      <div class="section-body">
        <p>
          Here are some screens that I designed for this project
        </p>
        <strong> Simplified Initial setup</strong>
        <div class="gallery full padding">
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/voice/setup.png" itemprop="contentUrl">
              <img srcset="http://assets.websiddu.com/voice/setup.png 2x,http://assets.websiddu.com/voice/setup.png 1x" src="http://assets.websiddu.com/voice/setup.png" itemprop="thumbnail" alt="Configuring Google voice was tedious, I tried to simplify.">
            </a>
            <figcaption itemprop="caption description" style="visibility: hidden">Configuring Google voice was tedious, I tried to simplify.</figcaption>
          </figure>
        </div>
        <div class="gallery full padding">
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/voice/d1.png" itemprop="contentUrl">
              <img srcset="http://assets.websiddu.com/voice/d1.png 2x,http://assets.websiddu.com/voice/d1.png 1x" src="http://assets.websiddu.com/voice/d1.png" itemprop="thumbnail" alt="Different screen that I designed for this project. ">
            </a>
            <figcaption itemprop="caption description" style="visibility: hidden">Different screen that I designed for this project. </figcaption>
          </figure>
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/voice/all-screens.png" itemprop="contentUrl">
              <img srcset="http://assets.websiddu.com/voice/all-screens.png 2x,http://assets.websiddu.com/voice/all-screens.png 1x" src="http://assets.websiddu.com/voice/all-screens.png" itemprop="thumbnail" alt="Different screen that I designed for this project. ">
            </a>
            <figcaption itemprop="caption description" style="visibility: hidden">Different screen that I designed for this project. </figcaption>
          </figure>
        </div>
      </div>
    </section>
    <section>
      <h5 class="section-heading">Interactions</h5>
      <div class="section-body">
        <p>
          Here are some interaction/motion graphics that I made for the on boarding screens.
        </p>
        <div class="gallery shadow">
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/voice/voice.gif" itemprop="contentUrl">
              <img srcset="http://assets.websiddu.com/voice/voice.gif 2x,http://assets.websiddu.com/voice/voice.gif 1x" itemprop="thumbnail" src="http://assets.websiddu.com/voice/voice.gif" alt="Screenshot showing all the different icons available" data-size="[1000, 773]">
            </a>
            <figcaption itemprop="caption description">The on boarding interactions that I created for the Google voice </figcaption>
          </figure>
        </div>
      </div>
    </section>
  </div>
</div>