54bac0c86439310003000000
<blockquote class="full">
  Flame is a chrome extension for an enterprise social networking application(<a href="http://www.tcs.com/SiteCollectionDocuments/Brochures/Innovation-Brochure-TCS-Knowledge-Ecosystem-Solution-062013-1.pdf" target="_blank">knome</a>) for the power uses focusing on speed and convince.
</blockquote>
<div class="row">
  <div class="large-12 columns">
    <aside class="flame">
      <dl class="metadata">
        <dt> Date </dt>
        <dd> December 2013 - August 2014</dd>
      </dl>
      <dl class="metadata">
        <dt> Tasks </dt>
        <dd> UX Design </dd>
        <dd> Interaction Design </dd>
        <dd> Usability Testing </dd>
        <dd> Visual Design </dd>
        <dd> Development</dd>
      </dl>
      <dl class="metadata">
        <dt> Tool </dt>
        <dd> Pen & Paper</dd>
        <dd> Balsamic</dd>
        <dd> Illustrator</dd>
        <dd> JavaScript</dd>
        <dd> CSS</dd>
        <dd> HTML</dd>
      </dl>
    </aside>
    <section>
      <h5 class="section-heading">Summary</h5>
      <div class="section-body">
        <p>While working in Web2.0 Innovation labs, TCS, I designed a chrome extension for an enterprise social networking application(knome), as my side project. This was later released as an official product. I am the only designer and developer for this project. I handled everything for this product from user experience design, development to deployment. </p>
        <p> To give some background Knome is a enterprise social networking application similar to Microsoft Yammer enabling social interaction in work place. Knome had a web and mobile application.</p>
        <strong>The problem </strong>
        <br>
        <blockquote>
          <span class="icon icon-left-quote"></span> How can we make Knome experience better and convenient for the power users.
        </blockquote>
      </div>
    </section>
    <section>
      <h5 class="section-heading">Video Demo</h5>
      <div class="section-body">
        <p> You need a password to watch this video. Please send an email to me@websiddu.com to get the password.</p>
        <iframe src="//player.vimeo.com/video/116593620" width="100%" height="338" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </section>
  </div>
</div>