54bc5dd03462330003000000
<blockquote class="full">
  A portal built for University of Washington's Green Certification programs.
</blockquote>
<div class="row">
    <div class="large-12 columns">
        <aside>
            <dl class="metadata">
                <dt>Focus</dt>
                <dd class="tasks-icons">
                    <img src="http://websiddu.com/images/i/vd.svg" data-tooltip aria-haspopup="true" alt="Visual Design" class="tip-top" title="Visual Design" data-size="[, ]" height="px" width="px">
                    <img src="http://websiddu.com/images/i/ixd.svg" data-tooltip aria-haspopup="true" alt="Interaction Design" class="tip-top" title="Interaction Design" data-size="[, ]" height="px" width="px">
                    <img src="http://websiddu.com/images/i/code.svg" data-tooltip aria-haspopup="true" alt="Development" class="tip-top" title="Development" data-size="[, ]" height="px" width="px">
                </dd>
            </dl>
            <dl class="metadata">
                <dt>Date</dt>
                <dd>December 2014 to Present</dd>
            </dl>
            <dl class="metadata">
                <dt>Role</dt>
                <dd>A to Z i.e, <small>(I am the only person in the team)</small>
                </dd>
            </dl>
            <dl class="metadata">
                <dt>Tasks</dt>
                <dd>User Exprience Design</dd>
                <dd>Visual Design</dd>
                <dd>Full Stack Development</dd>
            </dl>
            <dl class="metadata">
                <dt>Tools</dt>
                <dd>MEAN stack</dd>
                <dd>Heroku</dd>
                <dd>SAML</dd>
            </dl>
        </aside>
        <section>
            <h5 class="section-heading">Summary</h5>
            <div class="section-body">
                <p>As part of my part time job at University of Washington. I build a portal for the department of Environmental stewardship and sustainability. I rebuilt the whole system from scratch discarding what they had already.</p>
                <div class="link-container">
                    <strong>Project Links</strong>
                    <ol>
                        <li>
                            <a href="https://greenctf.herokuapp.com/" target="_blank">Demo of the portal</a>
                        </li>
                        <li>
                            <a href="https://github.com/websiddu/green" target="_blank">Source Code</a>
                        </li>
                    </ol>
                </div>
                <p>Green Certification Programs at the University of Washington are recognition programs intended to reduce the environmental impact of various spaces across campus by educating students, faculty, and staff about sustainable practices. The programs provide an evaluation framework with resources to implement the practices within their spaces, in alignment with strategies laid out in the UW Climate Action Plan. </p>
            </div>
        </section>
        <section>
            <h5 class="section-heading">Prototypes</h5>
            <div class="section-body">
                <div class="gallery small" itemscope itemtype="http://schema.org/ImageGallery">
                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <a href="http://assets.websiddu.com/green/pp1.png" itemprop="contentUrl">
                            <img src="http://assets.websiddu.com/green/pp1.png" itemprop="thumbnail" alt="Image description" data-size="[1000, 773]" height="773px" width="1000px">
                        </a>
                        <figcaption itemprop="caption description">Form creation page for the admin user</figcaption>
                    </figure>
                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <a href="http://assets.websiddu.com/green/pp2.png" itemprop="contentUrl">
                            <img src="http://assets.websiddu.com/green/pp2.png" itemprop="thumbnail" alt="Image description" data-size="[1000, 773]" height="773px" width="1000px">
                        </a>
                        <figcaption itemprop="caption description">Landing page for the admin user</figcaption>
                    </figure>
                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <a href="http://assets.websiddu.com/green/pp3.png" itemprop="contentUrl">
                            <img src="http://assets.websiddu.com/green/pp3.png" itemprop="thumbnail" alt="Image description" data-size="[1000, 773]" height="773px" width="1000px">
                        </a>
                        <figcaption itemprop="caption description">Landing page for the user</figcaption>
                    </figure>
                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <a href="http://assets.websiddu.com/green/pp4.png" itemprop="contentUrl">
                            <img src="http://assets.websiddu.com/green/pp4.png" itemprop="thumbnail" alt="Image description" data-size="[1000, 773]" height="773px" width="1000px">
                        </a>
                        <figcaption itemprop="caption description">Form show page for the users</figcaption>
                    </figure>
                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <a href="http://assets.websiddu.com/green/pp5.png" itemprop="contentUrl">
                            <img src="http://assets.websiddu.com/green/pp5.png" itemprop="thumbnail" alt="Image description" data-size="[1000, 773]" height="773px" width="1000px">
                        </a>
                        <figcaption itemprop="caption description">Form show page in the next step to users</figcaption>
                    </figure>
                </div>
            </div>
        </section>
        <section>
            <h5 class="section-heading">Visual Design</h5>
            <div class="section-body">
              <div class="gallery">
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="http://assets.websiddu.com/green/s1.png" itemprop="contentUrl">
                        <img src="http://assets.websiddu.com/green/s1.png" itemprop="thumbnail" alt="Image description" data-size="[1000, 773]" height="773px" width="1000px">
                    </a>
                    <figcaption itemprop="caption description">Login page for the application</figcaption>
                </figure>
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="http://assets.websiddu.com/green/s2.png" itemprop="contentUrl">
                        <img src="http://assets.websiddu.com/green/s2.png" itemprop="thumbnail" alt="Image description" data-size="[1000, 773]" height="773px" width="1000px">
                    </a>
                    <figcaption itemprop="caption description">Forms landing page for the admin users</figcaption>
                </figure>
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="http://assets.websiddu.com/green/s3.png" itemprop="contentUrl">
                        <img src="http://assets.websiddu.com/green/s3.png" itemprop="thumbnail" alt="Image description" data-size="[1000, 773]" height="773px" width="1000px">
                    </a>
                    <figcaption itemprop="caption description">Form creation</figcaption>
                </figure>
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="http://assets.websiddu.com/green/s4.png" itemprop="contentUrl">
                        <img src="http://assets.websiddu.com/green/s4.png" itemprop="thumbnail" alt="Image description" data-size="[1000, 773]" height="773px" width="1000px">
                    </a>
                    <figcaption itemprop="caption description">Form show page for the normal users</figcaption>
                </figure>
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="http://assets.websiddu.com/green/s5.png" itemprop="contentUrl">
                        <img src="http://assets.websiddu.com/green/s5.png" itemprop="thumbnail" alt="Image description" data-size="[1000, 773]" height="773px" width="1000px">
                    </a>
                    <figcaption itemprop="caption description">Results page after submission of the form to the admin</figcaption>
                </figure>
              </div>
                <p class="muted">Work is in progress I will update content soon!</p>
            </div>
        </section>
    </div>
</div>