565caea76b72695349000000
<blockquote class="full">
  Re-Designing Google voice experience to the new Google Material design.
</blockquote>
<div class="row">
  <div class="large-12 columns">
    <aside class="voice" style="background: #20A2B2">
      <dl class="metadata">
        <dt>Date</dt>
        <dd>Oct 2015 – Nov 2015 <small>(2 months)</small></dd>
      </dl>
      <dl class="metadata">
        <dt>Role</dt>
        <dd>UX Unicorn</dd>
      </dl>
      <dl class="metadata">
        <dt>Tasks</dt>
        <dd>User Research</dd>
        <dd>User Experience Design</dd>
        <dd>Prototyping</dd>
        <dd>Visual Design</dd>
        <dd>Front-end Development</dd>
      </dl>
      <dl class="metadata">
        <dt>Tools</dt>
        <dd>Sketch</dd>
        <dd>Pen & Paper</dd>
      </dl>
    </aside>
    <section>
      <h5 class="section-heading">Summary</h5>
      <div class="section-body">
        <p class="alert warning"> This is a side project that I did to get familiar with Google material design. I didn't build this for Google.</p>

        <div class="link-container">
          <strong>Project Links</strong>
          <ol>
            <li>
              <a href="">Link to the prototype</a>
            </li>
          </ol>
        </div>
      </div>
    </section>
    <section>
      <h5 class="section-heading">Process</h5>
      <div class="section-body">
        <p></p>

        <div class="gallery shadow">
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/voice/process.png" itemprop="contentUrl">
              <img src="http://assets.websiddu.com/voice/process.png" itemprop="thumbnail" alt="Screenshot showing all the different icons available" data-size="[1000, 773]">
            </a>
            <figcaption itemprop="caption description">I followed the User Centered design process with little tweakes.</figcaption>
          </figure>
        </div>
      </div>
    </section>
    <section>
      <h5 class="section-heading">Prototypes</h5>
      <div class="section-body">
        <p>Coming soon</p>
        <div class="gallery shadow">

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/voice/flow.png" itemprop="contentUrl">
              <img src="http://assets.websiddu.com/voice/flow.png" itemprop="thumbnail" alt="Screenshot showing all the different icons available" data-size="[1000, 773]">
            </a>
            <figcaption itemprop="caption description">I did a flow diagram using all the wireframes. This helped to get the overall flow of the application correct. </figcaption>
          </figure>
          </div>
      </div>
    </section>
    <section>
      <h5 class="section-heading">Design</h5>
      <div class="section-body">
        <p>Coming soon...</p>
      </div>
    </section>
  </div>
</div>