<div class="page">
  <h2 class="page-heading">/about</h2>
  <h3 class="page-sub-heading">I'm a Front End Developer and UI Designer from India.</h3>
  <p>I am Siddhartha Gudiapti, work as Front end developer and UI Designer at Web 2.0 Innovation Labs, Tata Consultancy Services, Chennai. I have been writing CSS, HTML for the past 4 years. I write elegant and efficient javascript(jQuery).</p>
  <p>I do wire-frames for web applications. I also enjoy doing creative jobs like visual design and pencil sketching.</p>
  <p>Other than technical work I enjoy cooking. I am also an armature photographer.</p>
  <div class="des-dev row">
    <div id="des_dev" style="width: 200px, height: 200"></div>
    <!-- / %canvas{:id=>"des_dev", :width=>"200", :height=>"200"} -->
    <div class="large-6 columns">
      <h6>Designer</h6>
      <ul>
        <li>User Interface Design</li>
        <li>User Experience Design</li>
        <li>Mobile application Design</li>
        <li>Web application Design</li>
        <li>Prototyping</li>
      </ul>
    </div>
    <div class="large-6 columns">
      <h6>Developer</h6>
      <ul>
        <li>CSS3, HTML5 and Javascript (Front end development)</li>
        <li>SASS, Compass and LESS</li>
        <li>jQuery, angular.js and backbone.js</li>
        <li>Rails and android(Java)</li>
      </ul>
    </div>
  </div>
</div>