<div class="">
  <section class="landing-page">
    <div class="l-dc-area row">
      <div class="l-design large-4 small-1 columns animated">
        <!--        <img class="js_design_trigger animated" src="images/design.png">
        <p class="l-d-d animated">
        I design usable websites and mobile applications
        &mdash;
        I am a User Experience Designer.
        </p> -->
      </div>
      <div class="l-avatar large-4 small-12 columns animated">
        <img class="js_default_trigger animated" src="images/sid-default.png">
        <!-- <img class="js_avatar_design hide animated" src="images/sid-design.png"> -->
        <!-- <img class="js_avatar_code hide animated" src="images/sid-code.png"> -->
      </div>
      <div class="l-code large-4 small-1 columns animated">
        <!--         <img class="js_code_trigger" src="images/code.png">
        <p class="l-d-d">
        I architect complex front-end applications. &mdash; I am a Front-end Engineer.
        </p> -->
      </div>
    </div>
    <div class="l-dc-intro animated fadeIn">
      <div class="l-n">
        <span class="text" data-typist="ugly,not as good an CoffeeScript" data-typist-suffix="since it's JS"></span>
      </div>
      <h3 class="l-d">
      I'm a UX designer &amp; Front-end engineer. Also a grad student at the University of <img src="images/w.svg" alt="" style="height: 19px; margin-left: 5px; vertical-align: baseline">ashington,  Dept. of HCDE. <br> I <a href="#/design">design</a>, <a href="https://github.com/websiddu" target="_blank">develop</a>, <a href="http://cook.websiddu.com/" target="_blank">cook</a>, <a href="https://www.flickr.com/photos/websiddu" target="_blank">click</a> and learn…</h3>
      <div class="center">
        <a href="#/portfolio" class="small l-button">Check out my portfolio &rarr;</a>
      </div>
    </div>
  </section>
</div>
<div class="landing-chart"></div>
<div class="landing-footer">
  <div ng-include="'views/partials/footer.html'"></div>
</div>