@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

/* Backgrounds */
html {
  background-image: none;
  background-color: transparent;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#logo {
  background-image: none;
  background-color: #669900;
}

#container {
  background: #FFFFFF;
}

li#errorLi {
  display: none;
}

.wufoo input.text, .wufoo textarea.textarea {
  background: #fff;
  font-family: inherit;
  border: 1px solid #cccccc;
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.93333em;
  padding: 0.46667em;
  width: 100%;
  box-sizing: border-box;
  -webkit-transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wufoo li.focused {
  background: transparent;
}

.wufoo .instruct small {
  font-family: inherit;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wufoo li.focused .instruct, .wufoo li:hover .instruct {
  background-color: #5D9CEC;
  border-radius: 5px;
  font-size: 14px;
  font-family: inherit;
  color: #fff;
  font-weight: 300;
  width: 150px;
  position: absolute;
  top: 25px;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 0;
}

.wufoo li.focused .instruct:after, li:hover .instruct:after {
  position: absolute;
  content: '';
  left: -14px;
  top: 9px;
  height: 0;
  width: 0;
  border: solid 7px transparent;
  border-right: solid 7px #5D9CEC;
}

/* Borders */
#container {
  border: 0 solid #cccccc;
}

.wufoo .info {
  border-bottom: 1px solid #eee;
}

.wufoo .instruct {
  border: 0;
}

/* Buttons */
.wufoo input.btTxt {
  border: 0;
  background: #4A89DC;
  padding: 8px 20px;
  color: #fff;
  display: inline-block;
  background-color: #4A89DC;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF4A89DC', endColorstr='#FF5D9CEC');
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U5NTczZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VmN2Q2YiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #4A89DC), color-stop(100%, #5D9CEC));
  background-image: -webkit-linear-gradient(left, #4A89DC 0%, #5D9CEC 100%);
  background-image: linear-gradient(to right, #4A89DC 0%, #5D9CEC 100%);
  font-weight: 300;
  font-size: 16px;
}

.wufoo p.error {
  font-weight: normal;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wufoo label.desc, .wufoo legend.desc {}

/* Typography */
.wufoo .info h2 {
  font-size: 160%;
  font-family: inherit;
  color: #000000;
}

.wufoo .info div {
  font-size: 95%;
  font-family: inherit;
  color: #444444;
}

.wufoo .section h3 {
  font-size: 110%;
  font-family: inherit;
  background: #FFFFFF;
  color: #000000;
}

.wufoo .section div {
  font-family: inherit;
  color: #444444;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wufoo label.desc, .wufoo legend.desc {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444444;
  font-weight: normal;
}

.wufoo li div, .wufoo li div label, .wufoo li span label {
  font-family: inherit;
  color: #444444;
  font-size: 14px;
}

.wufoo input.text, .wufoo textarea.textarea, .wufoo select.select, .wufoo label.choice {
  font-size: 100%;
  font-family: inherit;
  color: #333333;
}

.wufoo label.choice {
  color: #444444;
}

.wufoo .instruct {
  font-size: 80%;
  font-family: inherit;
  color: #444444;
}
