// Make sure the charset is set appropriately
@charset "UTF-8";

// This includes all of the foundation global elements that are needed to work with any of the other files.
@import "variables";


// Foundation Components
@import
  "components/global",
  "components/grid",
  "components/visibility",
  "components/block-grid",
  "components/type",
  "components/buttons",
  "components/forms",
  "components/button-groups",
  "components/dropdown-buttons",
  //"components/split-buttons",
  //"components/flex-video",
  "components/section",
  "components/top-bar",
  //"components/orbit",
  //"components/reveal",
  //"components/joyride",
  "components/clearing",
  //"components/alert-boxes",
  //"components/breadcrumbs",
  "components/custom-forms",
  //"components/keystrokes",
  //"components/labels",
  "components/inline-lists",
  //"components/pagination",
  //"components/panels",
  //"components/pricing-tables",
  //"components/progress-bars",
  //"components/side-nav",
  //"components/sub-nav",
  //"components/switch",
  //"components/magellan",
  //"components/tables",
  "components/thumbs";
  // "components/tooltips",
  // "components/dropdown";
