.arts-grid {
  > li {
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
    a {
      display: block;
      overflow: hidden;
      background: #E8E8E7 url("../images/design_default.svg") center no-repeat;
    }
    .art {
      position: relative;
      height: 200px;
      border: solid 5px #eee;
      box-shadow: inset 0 0 20px #ccc;
      img {
        max-height: 300px;
      }
    }
  }
}

.art-show-meta {
  clear: both;
  ul {
    list-style-type: none;
    > li {
      display: inline-block;
      margin: 5px 10px;
      a {
        em {
          vertical-align: middle;
        }
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.art-show-source {
  border: solid 1px #eee;
  padding: 1px 10px;
  border-radius: 4px;
  em {
    vertical-align: middle;
  }
}
.fullscreen-img {
  cursor: pointer;
}

