$g1-color1: #efefea;
$g1-color2: #fff;

body {
  font-weight: 200;
  background-color: $g1-color1;
  @include filter-gradient($g1-color1, $g1-color2, horizontal);
  @include background-image(linear-gradient(left, $g1-color1 0%, $g1-color2 100%));
  letter-spacing: -0.01em;
}

// Primary color #E24500
.landing-page * {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.l-dc-intro {
  position: relative;
}

.landing-page {
  margin: 20px 20px 0;
}

.l-avatar {
  text-align: center;
  img {
    height: 160px;
    padding: 5px;
    border-radius: 100%;
    border: solid 5px #efefea;
    background: #fff;
    &:hover {
      transform: rotate(9deg) scale(0.885) skew(1deg) translate(0px);
      -webkit-transform: rotate(9deg) scale(0.885) skew(1deg) translate(0px);
      -moz-transform: rotate(9deg) scale(0.885) skew(1deg) translate(0px);
      -o-transform: rotate(9deg) scale(0.885) skew(1deg) translate(0px);
      -ms-transform: rotate(9deg) scale(0.885) skew(1deg) translate(0px);
    }
  }
}

.l-design {
  cursor: pointer;
  text-align: right;
  margin-top: 50px;
}

.l-code {
  text-align: left;
  margin-top: 50px;
}

.l-d-d {
  font-size: 18px;
  font-weight: 200;
  //text-shadow: 0px 1px 1px #aaa;
}

.l-n {
  font-size: 35px;
  font-weight: 200;
  text-align: center;
  margin: 16px auto;
  height: 40px;
  line-height: 1;
}

h3.l-d {
  font-size: 21px;
  font-weight: 200;
  text-align: center;
  line-height: 1.7;
  //text-shadow: 0px 1px 1px #888;
}

$g-color1: #E9573F;
$g-color2: #EF7D6B;

$g-color1: #4A89DC;
$g-color2: #5D9CEC;

//linear-gradient(to right, #FFCE54 0%, #FFE29C 100%)

.l-button {
  background: $sunflower-light;
  padding: 16px 20px;
  color: #fff;
  margin-top: 20px;
  display: inline-block;
  //border-radius: 5px;
  //border: solid 1px #fff;
  background-color: $g-color1;
  @include filter-gradient($g-color1, $g-color2, horizontal);
  @include background-image(linear-gradient(left, $g-color1 0%, $g-color2 100%));
  border-radius: 3px;
  &:hover {
    color: #eee;
  }
}

@media #{$small-max} {
  .l-design, .l-code {
    display: none;
  }
}

.landing-banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
}


html {
  overflow-x: hidden;
  overflow-y: scroll;
}

$g2-color1: #434A54;
$g2-color2: #656D78;

$g3-color1: #967ADC;
$g3-color2: #AC92EC;

// $g3-color1: #F6BB42;
// $g3-color2: #FFCE54;

.contain-to-grid {
  background-color: $g2-color1;
  @include filter-gradient($g2-color1, $g2-color2, horizontal);
  @include background-image(linear-gradient(left, $g2-color1 0%, $g2-color2 100%));
  border-bottom: solid 3px $g3-color1;
}

.f-topbar-fixed {
  padding-top: 72px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
