body {
  font-weight: 200;
  background-color: $page-background-c1;

  @include filter-gradient($page-background-c1, $page-background-c2, horizontal);

  background-image: linear-gradient(left, $page-background-c1 0%, $page-background-c2 100%);
  letter-spacing: -0.01em;
}

.logo-back {
  fill: $logo-back;
}

.logo-front {
  fill: $logo-front;
}

.logo-text {
  fill: $logo-text;
}

.l-dc-intro {
  position: relative;
}

.landing-page {
  margin: 20px 20px 0;
}

.l-avatar {
  text-align: center;

  img {
    height: 160px;
    padding: 5px;
    border-radius: 100%;
    border: solid 5px #efefea;
    background: #fff;

    &:hover {
      transform: rotate(9deg) scale(0.885) skew(1deg) translate(0px);
      -webkit-transform: rotate(9deg) scale(0.885) skew(1deg) translate(0px);
      -moz-transform: rotate(9deg) scale(0.885) skew(1deg) translate(0px);
      -o-transform: rotate(9deg) scale(0.885) skew(1deg) translate(0px);
      -ms-transform: rotate(9deg) scale(0.885) skew(1deg) translate(0px);
    }
  }
}

.l-design {
  cursor: pointer;
  text-align: right;
  margin-top: 50px;
}

.l-code {
  text-align: left;
  margin-top: 50px;
}

.l-d-d {
  font-size: 18px;
  font-weight: 200;

  //text-shadow: 0px 1px 1px #aaa;
}

.l-n {
  font-size: 30px;
  font-weight: 200;
  text-align: center;
  margin: 16px auto 7px;
  min-height: 40px;
  line-height: 1;
}

.l-d  p {
  font-size: 21px;
  font-weight: 200;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.7;
}

.text-normal {
  font-weight: normal;
}

.clear {
  clear: both;
}

.landing-page * {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.l-button {
  padding: 16px 20px;
  color: #fff;
  margin-top: 20px;
  display: inline-block;
  background-color: $button-background-c1;

  @include filter-gradient($button-background-c1, $button-background-c2, horizontal);

  background-image: linear-gradient(left, $button-background-c1 0%, $button-background-c2 100%);
  border-radius: 3px;

  &:hover {
    color: #eee;
  }
}

@media #{$small-max} {
  .l-design, .l-code {
    display: none;
  }
}

.landing-banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

.contain-to-grid {
  background-color: $header-background-c1;

  @include filter-gradient($header-background-c1, $header-background-c2, horizontal);

  background-image: linear-gradient(left, $header-background-c1 0%, $header-background-c2 100%);
  border-bottom: solid $header-border-size $header-border-color;
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

.dotted {
  border-bottom: dashed rgb(185, 188, 191) 1px;
}

.l-d .delight {
  max-width: 100%;
  width: 100%;
  border-bottom: dashed rgb(185, 188, 191) 1px;
  position: relative;

  -webkit-transition: 0.7s color;
  -moz-transition: 0.7s color;
  -o-transition: 0.7s color;
  -ms-transition: 0.7s color;
  transition: 0.7s color;
  .egg {
    position: absolute;
    left: -66px;
    margin: 0;
    top: 38px;
    font-size: 13px;
    font-weight: 200;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    &:after {
      content: '';
      width: 0;
      height: 0;
      border: solid 8px transparent;
      border-bottom: solid 8px rgba(0, 0, 0, 0.7);
      position: absolute;
      left: 50%;
      top: -16px;
      margin-left: -8px;
    }
  }
}

.egg-c {
  position: relative;
}

.l-d .delight:hover {
  color: $primary-color;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  border-bottom: 0;
}

.l-d .delight span.animate span {
  display: inline-block;
  position: relative;
}

.l-d .delight.animating span.animate span {
  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
  -o-animation-duration: 0.6s;
  -ms-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-name: bounceLarge;
  -moz-animation-name: bounceLarge;
  -o-animation-name: bounceLarge;
  -ms-animation-name: bounceLarge;
  animation-name: bounceLarge;
}

.l-d .delight span.animate span:nth-child(1) {
  -webkit-animation-delay: 0.04s;
  -moz-animation-delay: 0.04s;
  -o-animation-delay: 0.04s;
  -ms-animation-delay: 0.04s;
  animation-delay: 0.04s;
}

.l-d .delight span.animate span:nth-child(2) {
  -webkit-animation-delay: 0.08s;
  -moz-animation-delay: 0.08s;
  -o-animation-delay: 0.08s;
  -ms-animation-delay: 0.08s;
  animation-delay: 0.08s;
}

.l-d .delight span.animate span:nth-child(3) {
  -webkit-animation-delay: 0.12s;
  -moz-animation-delay: 0.12s;
  -o-animation-delay: 0.12s;
  -ms-animation-delay: 0.12s;
  animation-delay: 0.12s;
}

.l-d .delight span.animate span:nth-child(4) {
  -webkit-animation-delay: 0.16s;
  -moz-animation-delay: 0.16s;
  -o-animation-delay: 0.16s;
  -ms-animation-delay: 0.16s;
  animation-delay: 0.16s;
}

.l-d .delight span.animate span:nth-child(5) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.l-d .delight span.animate span:nth-child(6) {
  -webkit-animation-delay: 0.24s;
  -moz-animation-delay: 0.24s;
  -o-animation-delay: 0.24s;
  -ms-animation-delay: 0.24s;
  animation-delay: 0.24s;
}

.l-d .delight span.animate span:nth-child(7) {
  -webkit-animation-delay: 0.28s;
  -moz-animation-delay: 0.28s;
  -o-animation-delay: 0.28s;
  -ms-animation-delay: 0.28s;
  animation-delay: 0.28s;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
