body {
  font-weight: 200;
  background-color: $page-background-c1;
  @include filter-gradient($page-background-c1, $page-background-c2, horizontal);
  @include background-image(linear-gradient(left, $page-background-c1 0%, $page-background-c2 100%));
  letter-spacing: -0.01em;
}

.logo-back {
  fill: $logo-back;
}

.logo-front {
  fill: $logo-front;
}

.logo-text {
  fill: $logo-text;
}

.l-dc-intro {
  position: relative;
}

.landing-page {
  margin: 20px 20px 0;
}

.l-avatar {
  text-align: center;
  img {
    height: 160px;
    padding: 5px;
    border-radius: 100%;
    border: solid 5px #efefea;
    background: #fff;
    &:hover {
      transform: rotate(9deg) scale(0.885) skew(1deg) translate(0px);
      -webkit-transform: rotate(9deg) scale(0.885) skew(1deg) translate(0px);
      -moz-transform: rotate(9deg) scale(0.885) skew(1deg) translate(0px);
      -o-transform: rotate(9deg) scale(0.885) skew(1deg) translate(0px);
      -ms-transform: rotate(9deg) scale(0.885) skew(1deg) translate(0px);
    }
  }
}

.l-design {
  cursor: pointer;
  text-align: right;
  margin-top: 50px;
}

.l-code {
  text-align: left;
  margin-top: 50px;
}

.l-d-d {
  font-size: 18px;
  font-weight: 200;
  //text-shadow: 0px 1px 1px #aaa;
}

.l-n {
  font-size: 35px;
  font-weight: 200;
  text-align: center;
  margin: 16px auto 7px;
  min-height: 40px;
  line-height: 1;
}

h3.l-d {
  font-size: 21px;
  font-weight: 200;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.7;
}

.landing-page * {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.l-button {
  padding: 16px 20px;
  color: #fff;
  margin-top: 20px;
  display: inline-block;
  background-color: $button-background-c1;
  @include filter-gradient($button-background-c1, $button-background-c2, horizontal);
  @include background-image(linear-gradient(left, $button-background-c1 0%, $button-background-c2 100%));
  border-radius: 3px;
  &:hover {
    color: #eee;
  }
}

@media #{$small-max} {
  .l-design, .l-code {
    display: none;
  }
}

.landing-banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

.contain-to-grid {
  background-color: $header-background-c1;
  @include filter-gradient($header-background-c1, $header-background-c2, horizontal);
  @include background-image(linear-gradient(left, $header-background-c1 0%, $header-background-c2 100%));
  border-bottom: solid $header-border-size $header-border-color;
}

.f-topbar-fixed {
  padding-top: 72px;
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
