.side-nav-bar {
  padding: 10px 0;
  text-align: center;
}

.sidbar-wrapper {
  position: fixed;
  padding: 0 2% 0 3%;
  box-shadow: 5px 0px 9px -8px #666;
}

.brand {
  text-align: center;
  width: 100%;
  a {
    display: block;
  }
  img {
    max-width: 40px;
    margin: 10px 0 10px 30px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
}

.side-nav {
  list-style-type: none;
  text-align: center;
}
.side-nav li.nav-active {
  a {
    color: $c5;
  }
}

/* Social list */
.social-list {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  li {
    &:first-child {
      margin-left: 0;
    }
    a {
      em {
        font-size: 28px;
      }
    }
  }
}

hr {
  margin: 10px 0;
  color: #ddd;
}

.side-footer {
  p.muted {
    font-size: 13px;
    font-weight: 200;
  }
}

.side-social {
}

.landing-footer {
  margin-top: 40px;
}



.builton {
  img {
    height: 18px;
    margin: 0 5px 0 0;
  }
  font-size: 12px;
  .love {
    margin: -3px 5px 0 0;
    display: inline-block;
    em {
      font-size: 28px;
      line-height: 28px;
      vertical-align: middle;
      display: inline-block;
    }
  }
}

@media #{$small-max} {
  .side-footer {
    display: none;
  }
  .brand {
    width: auto;
    display: block;
  }
  .brand img {
    width: 80px;
  }
  .side-nav-bar {
    padding: 10px;
  }
  .side-nav li {
    display: inline-block;
    margin-right: 10px;
  }
  .sidbar-wrapper {
    position: static;
    padding: 0 inherit;
    box-shadow: none;
    width: auto;
  }
}
