.page {
  padding: 20px 10px;
}

.page-heading {
  font-size: 25px;
  font-weight: normal;
  em {
    vertical-align: middle;
  }
}

.page-sub-heading {
  font-size: 18px;
  font-weight: normal;
  color: $muted-color;
}

.seciton-hedading {
  font-size: 19px;
  border-bottom: dotted 1px #ccc;
  margin-bottom: 10px;
  line-height: 1.5
}

.chart {
  canvas {
    margin: 10px 0 0 40px;
  }
}

.des-dev {
  position: relative;
  padding: 10px 40px;
}

#des_dev {
  position: absolute;
  text-align: center;
  left: 50%;
  margin-left: -165px;
}

.no-results {
  text-align: center;
  position: absolute;
  width: 100%;
  h4 {
    color: #888;
    font-weight: normal;
  }
}

@media #{$small-max} {
  .des-dev  {
    text-align: center;
    .columns {
      text-align: left;
    }
  }
#des_dev {
  position: static;
  text-align: center;
  left: 0;
  margin-left: 0;
}

}
