.page {
  padding: 20px 10px;
}

.page-heading {
  font-size: 25px;
  font-weight: normal;
  em {
    vertical-align: middle;
  }
}

.page-sub-heading {
  font-size: 18px;
  font-weight: normal;
  color: $muted-color;
}

.about-text p {
  font-size: 14px;
  line-height: 1.6;
}

.seciton-hedading {
  font-size: 19px;
  border-bottom: dotted 1px #ccc;
  margin-bottom: 10px;
  line-height: 1.5;
}

.chart {
  canvas {
    margin: 10px 0 0 40px;
  }
}

.des-dev {
  position: relative;
  padding: 10px 40px;
}

#des_dev {
  position: absolute;
  text-align: center;
  left: 50%;
  margin-left: -165px;
}

.no-results {
  text-align: center;
  position: absolute;
  width: 100%;
  h4 {
    color: #888;
    font-weight: normal;
  }
}

/* Styling for the ngProgress itself */
#ngProgress {
  margin: 0;
  padding: 0;
  z-index: 99998;
  background-color: green;
  color: green;
  box-shadow: 0 0 10px 0;
  /* Inherits the font color */
  height: 2px;
  opacity: 0;
  /* Add CSS3 styles for transition smoothing */
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* Styling for the ngProgress-container */
#ngProgress-container {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.contact-page-list {
  list-style-type: none;
  li {
    display: inline-block;
    margin: 2px 25px 0 0;
    &:first-child {}
  }
}

@media #{$small-max} {
  .page {
    padding: 10px 10px;
  }
  .des-dev {
    text-align: center;
    .columns {
      text-align: left;
    }
  }
  #des_dev {
    position: static;
    text-align: center;
    left: 0;
    margin-left: 0;
  }
}
