.page {
  min-height: 500px;
  //-webkit-font-smoothing: antialiased;
}

$g3-color1: #76a7fa;
$g3-color2: #9ec2fe;

.page-heading {
  font-size: 38px;
  font-weight: 200;
  margin-top: 25px;
  word-wrap: break-word;
  width: 95%;
  font-family: "Alegreya", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  em {
    vertical-align: middle;
  }
}

.page-sub-heading {
  font-size: 18px;
  font-weight: 200;
  color: $muted-color;
}


.seciton-hedading {
  font-size: 19px;
  border-bottom: dotted 1px #ccc;
  margin-bottom: 10px;
  line-height: 1.5;
  font-weight: 200;
}

.des-dev {
  position: relative;
  padding: 10px 40px;
}

#des_dev {
  position: absolute;
  text-align: center;
  left: 50%;
  margin-left: -165px;
}

.no-results {
  text-align: center;
  position: absolute;
  width: 100%;
  h4 {
    color: #888;
    font-weight: normal;
  }
}

/* Styling for the ngProgress itself */
#ngProgress {
  margin: 0;
  padding: 0;
  z-index: 99998;
  background-color: green;
  color: green;
  box-shadow: 0 0 10px 0;
  height: 2px;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* Styling for the ngProgress-container */
#ngProgress-container {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.contact-page-list {
  list-style-type: none;
  li {
    display: inline-block;
    margin: 2px 25px 0 0;
    &:first-child {}
  }
}


.landing-chart {
  width: 100%;
  margin: -10px 0 0 -30px;
  height: 210px;
  position: relative;
  // z-index: -1;
  opacity: 0.7;
  &:hover {

  }
}

@media #{$small-max} {
  .landing-chart {
    display: none;
    z-index: -1;
  }
  .page-heading {
    margin-top: 20px;
    font-size: 33px;
  }
}
