.project-filter-options {
  display: inline-block;
  margin: 0 8px 10px 0;
  text-align: right;
  input {}
}

.portfolio-grid {
  min-height: 600px;
  margin: -10px -12px 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  list-style-type: none;

  > .project-item {
    align-self: flex-start;
    flex-basis: auto;
    width: 25%;
    &.large {
      width: 50%;
    }
    &.medium {
      width: 37.5%;
    }
    &.small {
      width: 25%;
    }
    &.mini {
      width: 25%;
    }

    .project-link {
      display: block;
      margin: 15px 12px;
    }
    .project {
      background-color: #fff;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      background: #E8E8E7 url("../images/project_default.png") center no-repeat;
      height: 270px;
      box-shadow: 0px 1px 3px rgba(130, 130, 130, 0.18);
      border-radius: 3px;
      &.archived {
        height: 158px;
        box-shadow: 0 0 5px #eee;
        .project-thumb {
          height: 100px;
        }
        .project-title {
          height: 50px;
        }
      }
      .tick {
        position: absolute;
        top: 0;
        right: 0;
        height: 30px;
        width: 30px;
        line-height: 30px;
      }
      .project-thumb {
        background: transparent url("../images/project_default.png") center center no-repeat;
        height: 203px;
        background-size: cover;
        overflow: hidden;
      }
      img {
        max-height: 100%;
        //max-width: 100%;
        position: absolute;
        left: 50%;
        margin-left: -227px;
        top: 50%;
        margin-top: -138px;
        // -webkit-filter: blur(2px);
        // -moz-filter: blur(2px);
        // -ms-filter: blur(2px);
        // -o-filter: blur(2px);
        // filter: blur(2px);
        &:hover {
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;
          -webkit-filter: blur(0);
          -moz-filter: blur(0);
          -ms-filter: blur(0);
          -o-filter: blur(0);
          filter: blur(0);
        }
      }
    }
    .project-title {
      background: #fff;
      position: absolute;
      padding: 12px 10px;
      left: 0;
      right: 0;
      bottom: -8px;
      min-height: 75px;
      line-height: 1.3;
      h2 {
        color: #43435b;
        margin: 0;
        font-size: 18px;
        font-weight: normal;
        margin-bottom: 3px;
        line-height: 1;
      }
      small {
        font-size: 14px;
        color: #888;
        font-weight: 300;
      }
    }
  }
}

.portfolio-sub-heading {
  font-size: 20px;
  font-weight: 200;
  color: #666;
  margin: 0 0 15px 0;
}

.search {
  position: relative;
  overflow: hidden;
}

.search span.search-icon {
  position: absolute;
  right: 8px;
  top: 9px;
  color: #999;
}

.search  .serachbox {
  clear: both;
  font-weight: 200;
  padding-left: 10px;
  padding-right: 40px;
  box-shadow: none;
}

.search .serachbox:focus {
  border-color: #ccc;
}

@media #{$small-max} {
  .portfolio-grid {
    > .project-item {
      width: 50%;
      &.large {
        width: 50%;
      }
      &.medium {
        width: 50%;
      }
      &.small {
        width: 50%;
      }
      &.mini {
        width: 50%;
      }
    }
  }
}

@media #{$mini-max} {
  .portfolio-grid {
    > .project-item {
      width: 100%;
      &.large {
        width: 100%;
      }
      &.medium {
        width: 100%;
      }
      &.small {
        width: 100%;
      }
      &.mini {
        width: 100%;
      }
    }
  }
}



