.project-filter-options {
  display: inline-block;
  margin: 0 8px 10px 0;
  text-align: right;
  input {}
}

.project-filter {
  input[type="text"] {
    clear: both;
    font-weight: 200;
    box-shadow: 0;
  }
}

.portfolio-grid {
  > li {
    .project {
      background-color: #fff;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      background: #E8E8E7 url("../images/project_default.png") center no-repeat;
      height: 270px;
      border: solid 8px #fff;
      box-shadow: 0px 2px 5px #d8d8d8;

      &.archived {
        height: 158px;
        box-shadow: 0 0 5px #eee;
        .project-thumb {
          height: 100px;
        }
        .project-title {
          height: 50px;
        }
      }


      .tick {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 30px;
        width: 30px;
        line-height: 30px;
      }
      .project-thumb {
        background: transparent url("../images/project_default.png") center center no-repeat;
        height: 175px;
        background-size: cover;
        overflow: hidden;
        // -webkit-transition: all 0.5s;
        // -moz-transition: all 0.5s;
        // -ms-transition: all 0.5s;
        // -o-transition: all 0.5s;
        // transition: all 0.5s;
      }
      img {
        max-height: 100%;
        //max-width: 100%;
        position: absolute;
        left: 50%;
        margin-left: -227px;
        top: 50%;
        margin-top: -138px;
        // -webkit-filter: blur(2px);
        // -moz-filter: blur(2px);
        // -ms-filter: blur(2px);
        // -o-filter: blur(2px);
        // filter: blur(2px);
        &:hover {
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;
          -webkit-filter: blur(0);
          -moz-filter: blur(0);
          -ms-filter: blur(0);
          -o-filter: blur(0);
          filter: blur(0);
        }
      }
    }
    .project-title {
      background: #fff;
      font-size: 18px;
      font-weight: 300;
      position: absolute;
      padding: 12px 10px;
      left: 0;
      right: 0;
      bottom: -8px;
      text-shadow: 0 0 3px #fff;
      height: 87px;
      color: #43434a;
      margin: 0;
      small {
        font-size: 14px;
        color: #888;
      }
    }
  }
}

.portfolio-sub-heading {
  font-size: 20px;
  font-weight: 200;
  color: #666;
  margin: 0 0 15px 0;
}



// .project img {
//   -webkit-transition: all 0.2s linear;
//   -moz-transition: all 0.2s linear;
//   -o-transition: all 0.2s linear;
//   -ms-transition: all 0.2s linear;
//   display: block;
//   position: relative;
//   /* transition: all 0.2s linear;
// }

// .project .mask {
//   position: absolute;
//   overflow: hidden;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
//   filter: alpha(opacity = 0);
//   opacity: 0;
//   background-color:  rgba(219,127,8, 0.8);
//   -webkit-transition: all 0.4s ease-in-out;
//   -moz-transition: all 0.4s ease-in-out;
//   -o-transition: all 0.4s ease-in-out;
//   -ms-transition: all 0.4s ease-in-out;
//   transition: all 0.4s ease-in-out;
// }

// .project .project-title {
//   -webkit-transform: translateY(-130px);
//   -moz-transform: translateY(-130px);
//   -o-transform: translateY(-130px);
//   -ms-transform: translateY(-130px);
//   transform: translateY(-130px);
//   filter: alpha(opacity = 0);
//   opacity: 0;
//   -webkit-transition: all 0.2s ease-in-out;
//   -moz-transition: all 0.2s ease-in-out;
//   -o-transition: all 0.2s ease-in-out;
//   -ms-transition: all 0.2s ease-in-out;
//   transition: all 0.2s ease-in-out;
// }

// .project p {
//   -webkit-transform: translateY(100px);
//   -moz-transform: translateY(100px);
//   -o-transform: translateY(100px);
//   -ms-transform: translateY(100px);
//   transform: translateY(100px);
//   filter: alpha(opacity = 0);
//   opacity: 0;
//   color: #fff;
//   padding: 10px;
//   text-shadow: 1px 1px #888;
//   -webkit-transition: all 0.2s linear;
//   -moz-transition: all 0.2s linear;
//   -o-transition: all 0.2s linear;
//   -ms-transition: all 0.2s linear;
//   transition: all 0.2s linear;
// }

// .project:hover img {
//   -webkit-transform: scale(1.1, 1.1);
//   -moz-transform: scale(1.1, 1.1);
//   -o-transform: scale(1.1, 1.1);
//   -ms-transform: scale(1.1, 1.1);
//   transform: scale(1.1, 1.1);
// }

// .project a.info {
//   filter: alpha(opacity = 0);
//   opacity: 0;
//   text-align: center;
//   margin-right: 20px;
//   -webkit-transition: all 0.2s ease-in-out;
//   -moz-transition: all 0.2s ease-in-out;
//   -o-transition: all 0.2s ease-in-out;
//   -ms-transition: all 0.2s ease-in-out;
//   transition: all 0.2s ease-in-out;
// }

// .project:hover .mask {
//   filter: alpha(opacity = 100);
//   opacity: 1;
// }

// .project:hover h2,
// .project:hover p,
// .project:hover a.info {
//   filter: alpha(opacity = 100);
//   opacity: 1;
//   -webkit-transform: translateY(0px);
//   -moz-transform: translateY(0px);
//   -o-transform: translateY(0px);
//   -ms-transform: translateY(0px);
//   transform: translateY(0px);
// }

// .project:hover p {
//   -webkit-transition-delay: 0.1s;
//   -moz-transition-delay: 0.1s;
//   -o-transition-delay: 0.1s;
//   -ms-transition-delay: 0.1s;
//   transition-delay: 0.1s;
// }

// .project:hover a.info {
//   -webkit-transition-delay: 0.2s;
//   -moz-transition-delay: 0.2s;
//   -o-transition-delay: 0.2s;
//   -ms-transition-delay: 0.2s;
//   transition-delay: 0.2s;
// }
