.project-show-banner {
  clear: both;
  height: 158px;
  padding: 3px;
  border: solid 1px #ddd;
  position: relative;
  background: transparent url("../images/default_banner.png") 3px 3px no-repeat;
  .project-show-banner-img {
    height: 150px;
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
  }
}

.project-show-url, .project-show-date {
  margin: 10px 0;
  background: #F0EBE8;
  padding: 10px 20px 10px 50px;
  border-radius: 10px 5px 5px 10px;
  font-size: 15px;
  position: relative;

  &:before {
  display: block;
  top: 0;
  position: absolute;
  font-family: 'icons';
  content: '\e609';
  color: #fff;
  background: $c2;
  left: 0;
  height: 100%;
  width: 44px;
  vertical-align: middle;
  line-height: 35px;
  font-size: 18px;
  border-radius: 10px 0 0 10px;
  text-align: center;
  }
}

.project-show-date {
  &:before {
    content: '\e624';
    background: $c5;
  }
}

.project-show-description {
  > ol, > ul {
    margin-left: 30px;
  }
  pre {
    font-weight: normal;
    padding: 10px 20px;
    overflow-x: auto;
    background: #efefef;
    border: 1px solid #ddd;
    margin-bottom: 10px;
  }
  code {
    font-size: 16px;
    font-weight: normal;
  }
}


.tags {
  list-style-type: none;
  > li {
    display: inline-block;
    padding: 2px 10px 2px 5px;
    background: $c3;
    color: #fff;
    text-shadow: 1px 1px #888;
    margin: 10px 10px 0 0;
    border-radius: 20px 6px 5px 20px;
  }
}
