.project-page {
  background-color: #fff;
  box-shadow: 0 0 5px #D0D0D0;
  overflow: hidden;
  position: relative;
}

.project-show-banner {
  clear: both;
  height: 220px;
  position: relative;
  background: transparent url("../images/default_banner.png") 0 0 no-repeat;
  margin: -25px -25px 0;
  .project-show-banner-img {
    height: 220px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-size: cover;
  }
}

// $bq-color1: #434A54;
// $bq-color2: #656D78;

$bq-color1: #efefea;
$bq-color2: #efefef;
$bq-text-color: #434A54;

// .page-heading-bg {
//   background-color: $g3-color1;
//   @include filter-gradient($g3-color1, $g3-color2, horizontal);
//   @include background-image(linear-gradient(left, $g3-color1 0%,$g3-color2 100%));
// }

.page-show-nav {
  margin: 0 0 10px 0;
  overflow: hidden;
  line-height: 1.4;
}

.project-show-url, .project-show-date {
  margin: 0 0 20px;
  background: #efefef;
  padding: 10px;
  border-radius: 2px;
  position: relative;
  font-size: 16px;
  span.icon {
    margin: 0 5px;
    font-size: 16px;
    line-height: 1;
    color: #888;
  }
}

.project-show-date {}

.project-show-description {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 200;
  p {
    font-weight: 200;
  }
  ol, ul {
    margin-left: 30px;
    li {
      margin-bottom: 5px;
    }
  }
  img {
    margin: 0 0 20px;
    cursor: pointer;
  }

  figure {
    figcaption {
      display: none;
    }
  }

  .fig-group {
    margin: 0;
    figure {
      margin: 0;
    }
    figcaption {
      padding: 4px 0;
      font-size: 13px;
    }
  }
  > ol, > ul {
    margin-left: 30px;
  }
  pre {
    font-weight: normal;
    padding: 10px 20px;
    overflow-x: auto;
    background: #efefef;
    border: 1px solid #ddd;
    margin-bottom: 10px;
  }
  code {
    font-size: 16px;
  }
  .colloborators {
    margin-top: 30px;
    padding: 10px 20px;
    background: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 15px;
    ul {
      margin-bottom: 0;
    }
  }
  .company {
    font-size: 14px;
    margin-top: 20px;
    color: #444;
    p {
      margin: 0;
    }
  }
  blockquote.full {
    margin: 0 -40px;
    padding: 15px 100px;
    font-size: 19px;
    border-top: solid 1px $bq-color1;
    border-bottom: solid 1px $bq-color1;
    //font-family: Georgia;
    color: $bq-text-color;
    font-style: normal;
    background: #f9f9f9;
    //background-color: $bq-color1;
    //@include filter-gradient($bq-color1, $bq-color2, horizontal);
    //@include background-image(linear-gradient(left, $bq-color1 0%,$bq-color2 100%));
    margin-bottom: 20px;
    &:before {
      left: 10px;
      color: $bq-text-color;
      font-size: 50px;
      content: '';
    }
  }
}

$tg1: #92A3E4;
$tg2: #ABB6EF;

.tags {
  list-style-type: none;
  > li {
    //@include filter-gradient($tg1, $tg2, horizontal);
    //@include background-image(linear-gradient(left, $tg1 0%,$tg2 100%));

    display: inline-block;
    padding: 0px 16px;
    border-radius: 3px;
    border: solid 1px #ddd;
    color: #A7A4A4;
    margin: 0 15px 15px 0;
    font-size: 15px;

  }
}

.page-row {
  min-height: 1000px;
  background: #fff;
}

a[target="_blank"]:after {
  content: url("../images/new_tab.svg");
  vertical-align: -1px;
  display: inline-block;
  margin-left: 3px;
  width: 15px;
}

// .no-webgl a[target="_blank"]:after {
//   content: url("../images/new_tab.png");
// }

.social-list, .builton, .l-dc-intro {
  a[target="_blank"]:after {
    content: '';
    margin-left: 0;
    height: 0;
    width: 0;
  }
}

.link-container {
  background-color: #FCFCFC;
  border: 1px solid #EEE;
  border-radius: 2px;
  padding: 10px 15px;
  margin: 30px 0;
  strong {
    display: block;
    margin-bottom: 10px;
    padding: 0px 10px;
  }
  ol {
    li {
      margin: 7.5px 0;
    }
  }
}

.project-page-heading {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  margin: 0;
  padding: 12px 50px;
  font-weight: 300;
  font-size: 30px;
  line-height: 1;
  transition: font-size 0.3s ease-in;
  span {
    position: absolute;
    right: 20px;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    &:hover {
      background: rgba(0, 0, 0, 0.5);
      border-radius: 3px;
    }
    a {
      color: #fff;
      font-weight: normal;
      display: inline-block;
    }
  }
  .leftarr {
    right: 60px;
  }
  .rightarr {
    right: 20px;
  }
  &.sticky-nav {
    position: fixed;
    font-size: 20px;
    padding-top: 10px;
    top: 71px;
    bottom: auto;
    left: 0;
    right: 0;
    padding-bottom: 10px;
    z-index: 1030;
    max-width: 73.3333333rem;
    margin: 0 auto;
  }
}

.project-page section {
  margin-right: 270px;
  margin-left: 160px;
}

.section-body {
  margin-bottom: 30px;
  font-size: 17px;
}

.project-page section p {
  color: #555;
}

.project-show-meta {
  padding: 0 20px;
}

aside .metadata {
  margin-bottom: 30px;
}

.metadata dt {
  color: #666;
  font-size: 18px;
  font-weight: bold;
}

.metadata dd {
  margin-bottom: 0.5em;
}

.project-page section .section-heading {
  width: 140px;
  float: left;
  margin: 0 0 0 -160px;
  text-align: right;
  font-size: 18px;
  color: #666;
  line-height: 1.7;
  display: inline-block;
  font-weight: 500;
}

.project-page aside {
  width: 230px;
  float: right;
  font-size: 16px;
}

@media #{$small-max} {
  .project-page {
    padding: 0;
  }
  .project-page-heading {
    padding: 12px 10px;
    &.sticky-nav {
      top: 73px;
    }
  }
  .project-page aside {
    float: none;
    width: 100%;
    font-size: 16px;
    transition: all 0.3s ease-in;
  }
  .project-page section {
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
  }
  .project-page blockquote.full {
    padding: 10px 40px;
  }
  .project-page-heading {
    &.sticky-nav {
      margin-left: 0;
      left: 0;
      right: 0;
    }
    span {
      display: none;
    }
  }
  .project-show-meta {
    padding: 0;
  }
  .project-page section .section-heading {
    float: none;
    text-align: left;
    margin: 0;
    display: block;
    font-size: 18px;
  }
  aside .metadata {
    margin-bottom: 15px;
    transition: all 0.3s ease-in;
  }
  .metadata dd {
    display: inline;
    &:after {
      content: ', ';
    }
    &:last-child {
      &:after {
        content: '';
      }
    }
  }
}

.voteup {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  background: rgba(132, 145, 158, 1);
  line-height: 80px;
  text-align: center;
  display: block;
  margin: 10px auto;
  vertical-align: middle;
  color: #fff;
  transition: box-shadow 0.3s ease-in-out;
  em {
    font-size: 40px;
    padding-top: 0;
  }
  &:hover {
    box-shadow: 0 0 0 3px rgba(132, 145, 158, 1);
    color: #fff;
  }
  &:focus, &:visited {
    color: #fff;
  }
}

.voteup-anim {
  transition: all 0.3s ease-in-out;
  span {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #666;
    visibility: visible;
    transition: all 0.3s ease-in-out;
  }
  em {
    padding-top: 0;
  }
  b {
    font-size: 0;
    line-height: 32px;
    vertical-align: middle;
    transition: font-size 0.3s ease-in-out;
    display: block;
  }
  &.voted {
    span {
      font-size: 0;
      visibility: hidden;
      line-height: 32px;
      transition: all 0.3s ease-in-out;
    }
    em {
      display: block;
      line-height: 1;
      font-size: 25px;
      padding-top: 14px;
      transition: font-size 0.3s ease-in-out;
    }
    .voteup {
      background-color: transparent;
      box-shadow: 0 0 0 1px #B2BFCB;
      color: rgba(132, 145, 158, 1);
      transition: box-shadow 0.3s ease-in-out;
      cursor: default;
    }
    b {
      display: block;
      line-height: 32px;
      font-size: 25px;
      transition: font-size 0.3s ease-in-out;
    }
  }
}

.prj-nav {
  margin: 10px 30px 25px;
  overflow: hidden;
  border-top: dotted 1px #D0D0D0;
  b {
    font-size: 19px;
    color: #666;
  }
  a {
    display: inline-block;
    min-width: 260px;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 4px;
    &:hover {
      background-color: #f8f8f8;
    }
  }
}

.next-prj {
  text-align: right;
}

.tasks-icons {
  img {
    height: 45px;
    margin: 10px 20px 0 0;
  }
}

.gallery.small {
  figure {
    width: 49%;
    display: inline-block;
    img {
      margin-right: 0.5%;
    }
    figcaption {
      display: inline;
      display: none;
    }
  }
}

@media #{$small-max} {
  .prj-nav {
    margin: 10px 0 20px;
    text-align: center;
  }
  .next-prj {
    text-align: center;
  }
}
