.project-show-banner {
  clear: both;
  height: 220px;
  position: relative;
  background: transparent url("../images/default_banner.png") 0 0 no-repeat;
  margin: 0 -25px 20px;
  .project-show-banner-img {
    height: 220px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-size: cover;
  }
}

$bq-color1: #434A54;
$bq-color2: #656D78;


// .page-heading-bg {
//   background-color: $g3-color1;
//   @include filter-gradient($g3-color1, $g3-color2, horizontal);
//   @include background-image(linear-gradient(left, $g3-color1 0%,$g3-color2 100%));
// }


.page-show-nav {
  margin: 0 0 10px 0;
  overflow: hidden;
  line-height: 1.4;
}

.project-show-url, .project-show-date {
  margin: 0 0 20px;
  background: #efefef;
  padding: 10px;
  border-radius: 2px;
  position: relative;
  font-size: 16px;
  em {
    margin: 0 5px;
    font-size: 16px;
    line-height: 1;
    color: #888;
  }
}

.project-show-date {

}

.project-show-description {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 200;
  p {
    font-weight: 200;
  }

  ol, ul {
    margin-left: 30px;
    li {
      margin-bottom: 5px;
    }
  }

  img {
    margin: 0 0 20px;
  }

  figure {
    margin: 20px auto;
    display: block;
    max-width: 500px;
    border: solid 1px #ccc;
    cursor: pointer;
  }
  figcaption {
    text-align: center;
    padding: 10px 0;
    background-color: #efefef;
    font-style: italic;
  }
  .fig-group {
    margin: 0;
    figure {
      margin: 0;
    }
    figcaption {
      padding: 4px 0;
      font-size: 13px;
    }
  }
  > ol, > ul {
    margin-left: 30px;
  }
  pre {
    font-weight: normal;
    padding: 10px 20px;
    overflow-x: auto;
    background: #efefef;
    border: 1px solid #ddd;
    margin-bottom: 10px;
  }
  code {
    font-size: 16px;
  }

  blockquote.full {
    margin: 0 -25px;
    padding: 30px 40px;
    font-size: 22px;
    font-family: Georgia;
    color: #fff;
    text-align: center;

    background-color: $bq-color1;
    @include filter-gradient($bq-color1, $bq-color2, horizontal);
    @include background-image(linear-gradient(left, $bq-color1 0%,$bq-color2 100%));

    margin-bottom: 20px;

    &:before {
      left: 10px;
      color: #fff;
      font-size: 50px;
    }
  }

}

$tg1: #92A3E4;
$tg2: #ABB6EF;

.tags {
  list-style-type: none;
  > li {
    display: inline-block;
    padding: 2px 20px;
    border-radius: 5px;

    background-color: #c4c4c4;
    //@include filter-gradient($tg1, $tg2, horizontal);
    //@include background-image(linear-gradient(left, $tg1 0%,$tg2 100%));

    color: #fff;
    margin: 0 15px 15px 0;
    font-size: 15px;
  }
}

.page-row {
  min-height: 1000px;
  background: #fff;
}

a[target="_blank"]:after {
  content: url("../images/new_tab.svg");
  vertical-align: middle;
  display: inline-block;
  margin-left: 3px;
}
.social-list, .builton {
  a[target="_blank"]:after {
    content: '';
    margin-left: 0;
  }
}

.link-container {
  background-color: #FCFCFC;
  border: 1px solid #EEE;
  border-radius: 2px;
  padding: 10px 15px;
  margin: 30px 0;
  strong {
    display: block;
    margin-bottom: 10px;
    padding: 0px 10px;
  }
  ol {
    li {
      margin: 7.5px 0;
    }
  }
}

.project-page {
  background-color: rgba(250, 250, 250, 0.3);
  box-shadow: 0 0 5px #D0D0D0;
}
