.project-page {
  background-color: #fff;
  box-shadow: 0 0 5px #D0D0D0;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.project-show-banner {
  clear: both;
  height: 220px;
  position: relative;
  background: transparent url("../images/default_banner.png") 0 0 no-repeat;
  margin: -25px -25px 0;
  .project-show-banner-img {
    height: 220px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-size: cover;
  }
}

// $bq-color1: #434A54;
// $bq-color2: #656D78;

$bq-color1: #efefea;
$bq-color2: #efefef;
$bq-text-color: #434A54;


// .page-heading-bg {
//   background-color: $g3-color1;
//   @include filter-gradient($g3-color1, $g3-color2, horizontal);
//   @include background-image(linear-gradient(left, $g3-color1 0%,$g3-color2 100%));
// }


.page-show-nav {
  margin: 0 0 10px 0;
  overflow: hidden;
  line-height: 1.4;
}

.project-show-url, .project-show-date {
  margin: 0 0 20px;
  background: #efefef;
  padding: 10px;
  border-radius: 2px;
  position: relative;
  font-size: 16px;
  em {
    margin: 0 5px;
    font-size: 16px;
    line-height: 1;
    color: #888;
  }
}

.project-show-date {

}

.project-show-description {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 200;
  p {
    font-weight: 200;
  }

  ol, ul {
    margin-left: 30px;
    li {
      margin-bottom: 5px;
    }
  }

  img {
    margin: 0 0 20px;
  }

  figure {
    margin: 20px auto;
    display: block;
    max-width: 500px;
    border: solid 1px #ccc;
    cursor: pointer;
  }
  figcaption {
    text-align: center;
    padding: 10px 0;
    background-color: #efefef;
    font-style: italic;
  }
  .fig-group {
    margin: 0;
    figure {
      margin: 0;
    }
    figcaption {
      padding: 4px 0;
      font-size: 13px;
    }
  }
  > ol, > ul {
    margin-left: 30px;
  }
  pre {
    font-weight: normal;
    padding: 10px 20px;
    overflow-x: auto;
    background: #efefef;
    border: 1px solid #ddd;
    margin-bottom: 10px;
  }
  code {
    font-size: 16px;
  }

  .colloborators {
    margin-top: 30px;
    padding: 10px 20px;
    background: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 15px;
    ul {
      margin-bottom: 0;
    }
  }

  .company {
    font-size: 14px;
    margin-top: 20px;
    color: #444;
    p {
      margin: 0;
    }
  }

  blockquote.full {
    margin: 0 -40px;
    padding: 15px 100px;
    font-size: 19px;

    border-top: solid 1px $bq-color1;
    border-bottom: solid 1px $bq-color1;
    //font-family: Georgia;
    color: $bq-text-color;
    font-style: normal;
    background: #f9f9f9;

    //background-color: $bq-color1;
    //@include filter-gradient($bq-color1, $bq-color2, horizontal);
    //@include background-image(linear-gradient(left, $bq-color1 0%,$bq-color2 100%));

    margin-bottom: 20px;

    &:before {
      left: 10px;
      color: $bq-text-color;
      font-size: 50px;
      content: '';
    }
  }

}

$tg1: #92A3E4;
$tg2: #ABB6EF;

.tags {
  list-style-type: none;
  > li {
    display: inline-block;
    padding: 2px 20px;
    border-radius: 5px;

    background-color: #c4c4c4;
    //@include filter-gradient($tg1, $tg2, horizontal);
    //@include background-image(linear-gradient(left, $tg1 0%,$tg2 100%));

    color: #fff;
    margin: 0 15px 15px 0;
    font-size: 15px;
  }
}

.page-row {
  min-height: 1000px;
  background: #fff;
}

a[target="_blank"]:after {
  content: url("../images/new_tab.svg");
  vertical-align: -1px;
  display: inline-block;
  margin-left: 3px;
  height: 15px;
  width: 15px;
}

// .no-webgl a[target="_blank"]:after {
//   content: url("../images/new_tab.png");
// }

.social-list, .builton, .l-dc-intro {
  a[target="_blank"]:after {
    content: '';
    margin-left: 0;
    height: 0;
    width: 0;
  }
}

.link-container {
  background-color: #FCFCFC;
  border: 1px solid #EEE;
  border-radius: 2px;
  padding: 10px 15px;
  margin: 30px 0;
  strong {
    display: block;
    margin-bottom: 10px;
    padding: 0px 10px;
  }
  ol {
    li {
      margin: 7.5px 0;
    }
  }
}

.project-page-heading {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  margin: 0;
  padding: 12px 70px;
  font-weight: 300;
  font-size: 30px;
  line-height: 1;
  transition: font-size 0.3s ease-in;
}

.project-page section {
  margin-right: 270px;
  margin-left: 160px;
}

.section-body {
  margin-bottom: 30px;
  font-size: 17px;
}

.project-page section p {
  color: #555;
}

.project-show-meta {
  padding: 0 20px;
}

aside .metadata {
  margin-bottom: 30px;
}

.metadata dt {
  color: #666;
  font-size: 18px;
  font-weight: bold;
}
.metadata dd {
  margin-bottom: 0.5em;
}

.project-page section .section-heading {
  width: 140px;
  float: left;
  margin: 0 0 0 -160px;
  text-align: right;
  font-size: 18px;
  color: #666;
  line-height: 1.7;
  display: inline-block;
  font-weight: 500;
}

.project-page aside {
  width: 230px;
  float: right;
  font-size: 16px;
}


@media #{$small-max} {
  .project-page  {
    padding: 0;
  }

  .project-page aside {
    float: none;
    width: 100%;
    font-size: 16px;
  }

  .project-page section {
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
  }

  .project-page blockquote.full {
    padding: 10px 40px;
  }

  .project-show-meta {
    padding: 0;
  }

  .project-page section .section-heading {
    float: none;
    text-align: left;
    margin: 0;
    display: block;
    font-size: 18px;
  }

  aside .metadata {
    margin-bottom: 15px;
  }

.metadata dd {
  display: inline;
  &:after {
    content: ', ';
  }
  &:last-child {
    &:after {
      content: '';
    }
  }
}

}
