.project-show-banner {
  clear: both;
  height: 158px;
  padding: 3px;
  border: solid 1px #ddd;
  position: relative;
  margin: 0 0 20px;
  background: transparent url("../images/default_banner.png") 3px 3px no-repeat;
  .project-show-banner-img {
    height: 150px;
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
  }
}

.page-show-nav {
  margin: 0 0 10px 0;
  overflow: hidden;
  line-height: 1.4;
}

.project-show-url, .project-show-date {
  margin: 0 0 20px;
  background: #efefef;
  padding: 10px 20px 10px 40px;
  border-radius: 2px;
  position: relative;
  &:before {
  display: block;
  top: 0;
  position: absolute;
  font-family: 'Mono Social Icons Font';
  border-radius: 3px 0 0 3px;
  content: '\e082';
  color: #fff;
  background: $c1;
  left: 0;
  height: 100%;
  width: 30px;
  vertical-align: middle;
  line-height: 40px;
  font-size: 18px;
  text-align: center;
  }
}

.project-show-date {
  &:before {
    content: '\e029';
    background: $c1;
  }
}

.project-show-description {


  figure {
    margin: 20px auto;
    display: block;
    max-width: 500px;
    border: solid 1px #ccc;
    cursor: pointer;
  }
  figcaption {
    text-align: center;
    padding: 10px 0;
    background-color: #efefef;
    font-style: italic;
  }

 .fig-group {
  margin: 0;
  figure {
    margin: 0;
  }
  figcaption {
    padding: 4px 0;
    font-size: 13px;
  }
 }


  > ol, > ul {
    margin-left: 30px;
  }
  pre {
    font-weight: normal;
    padding: 10px 20px;
    overflow-x: auto;
    background: #efefef;
    border: 1px solid #ddd;
    margin-bottom: 10px;
  }
  code {
    font-size: 16px;
    font-weight: normal;
  }
}


.tags {
  list-style-type: none;
  > li {
    display: inline-block;
    padding: 2px 10px 2px 5px;
    border-radius: 2px;
    background: $c5;
    color: #fff;
    margin: 0 10px 10px 0;
  }
}


.page-row {
  min-height: 1000px;
  background: #fff;
}
