$num: 0;
@each $c in ($c1, $c2, $c3, $c4, $c5, $c6, $c7, $c8) {
    $num: $num + 1;
    .c#{$num} {
      color: $c;
    }
    a.c#{$num} {
      color: $c;
      &:hover {
        color: darken($c, 16);
      }
    }
}

$num: 0;
$c9: #efefea;
@each $c in ($c1, $c2, $c3, $c4, $c5, $c6, $c7, $c8, $c9) {
    $num: $num + 1;
    .bgc#{$num} {
      background-color: $c;
      color: #fff;
    }
}

.truncate {
  max-width: 100%;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.muted {
  color: #aaa;
  font-weight: normal;
}

.button.lc, .lc {
  text-transform: lowercase;
}

.center {
  text-align: center;
}


a.standalone {
  color: $body-font-color;
  &:hover {
    color: $primary-color;
  }
}

.styled {
  display: inline-block;
  width: auto;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  background: #fafafa url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==') no-repeat;
  background-position-x: 85%;
  background-position-y: center;
  border: 1px solid #cccccc;
  padding: 2px 14px 2px 9px;
  font-size: 0.8rem;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.light {
  font-weight: 300;
}

@-moz-document url-prefix() {
  select.styled {
    padding: 0;
    background: #fafafa; }

  select:hover {
    background: #f3f3f3; }
}
