$num: 0;

@each $c in $c1, $c2, $c3, $c4, $c5, $c6, $c7, $c8 {
  $num: $num + 1;
  .c#{$num} {
    color: $c;
  }
  a.c#{$num} {
    color: $c;
    &:hover {
      color: darken($c, 16);
    }
  }
}

$num: 0;
$c9: #efefea;

$c1-dribble: #E24A83;
$c2-linkedin: #0274B3;
$c3-twitter: #5EA9DD;
$c4-github: #333333;

$num1: 0;
@each $cl in $c1-dribble, $c2-linkedin, $c3-twitter, $c4-github {
  $num1: $num1 + 1;
  .bg-s-#{$num1} {
    color: $cl;
    &:hover {
      color: darken($cl, 16);
    }
  }
}

@each $c in $c1, $c2, $c3, $c4, $c5, $c6, $c7, $c8, $c9 {
  $num: $num + 1;
  .bgc#{$num} {
    background-color: $c;
    color: #fff;
  }
}

$i: 20;
@while $i > 0 {
  .no-touch .a#{$i} {
    -webkit-animation-duration: 0.2s + (0.2 * $i);
    animation-duration: 0.2s + (0.2 * $i);
   }
  $i: $i - 1;
}

.truncate {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.muted {
  color: #aaa;
  font-weight: normal;
}

.button.lc, .lc {
  text-transform: lowercase;
}

.center {
  text-align: center;
}

a.standalone {
  color: $body-font-color;
  &:hover {
    color: $primary-color;
  }
}

.styled {
  display: inline-block;
  width: auto;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  background: #fafafa url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==") no-repeat;
  background-position-x: 85%;
  background-position-y: center;
  border: 1px solid #cccccc;
  padding: 2px 14px 2px 9px;
  font-size: 0.8rem;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.light {
  font-weight: 300;
}

@-moz-document url-prefix() {
  select.styled {
    padding: 0;
    background: #fafafa;
  }
  select:hover {
    background: #f3f3f3;
  }
}

/* Mozilla based browsers */
::-moz-selection {
  background-color: #F6BB42;
  color: #fff;
}

/* Works in Safari */
::selection {
  background-color: #F6BB42;
  color: #fff;
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}


.sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
  &.skip-to-content {
    &:focus {
      position: absolute;
    }
  }
}

.alert {
  padding: 10px 20px;
  border-radius: 3px;
  &.info {
    background: #EDF6FF;
    border: solid 1px #C1DDFF;
  }
  &.success {

  }
  &.warning {
    background: rgba(255, 249, 216, 0.55);
    border: solid 1px #F5EDC2;
  }
  &.danger {

  }
}
