<header class="fixed contain-to-grid" role="banner">
  <a ng-click="gotoMain()" tabindex="0" class="sr-only sr-only-focusable skip-to-content">Skip to content</a>
  <nav class="top-bar" data-topbar role="navigation" aria-label="Site Navigation">
    <ul class="title-area">
      <li class="name">
        <div class="brand anim">
          <a href="http://websiddu.com" ng-click="closeNavbarInMobile('/')" title="Homepage">
            <!-- <ng-include src="'images/brand.svg'"></ng-include> -->
            <img src="/images/logo.svg"></img>
          </a>
          <span class="nav-item is-direction">→</span>
          <a href="/" ng-click="closeNavbarInMobile('/')" title="Homepage">
            <img class="portfolio-img" src="/images/portfolio.svg"></img>
          </a>
        </div>
      </li>
      <li class="toggle-topbar menu-icon"><a href=""><span></span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li ng-class="getClass('/portfolio')">
          <a href='' ng-click="closeNavbarInMobile('/portfolio')">Portfolio</a>
        </li>
<!--         <li ng-class="getClass('/design')">
          <a href="" ng-click="closeNavbarInMobile('/design')">Design</a>
        </li>
         <li ng-class="getClass('/about')">
          <a href="" ng-click="closeNavbarInMobile('/about')">About</a>
        </li>
-->
        <li>
          <a href="http://blog.websiddu.com">Blog</a>
        </li>
        <li>
          <a href="http://photos.websiddu.com">Photos</a>
        </li>
        <li>
          <a href="http://cook.websiddu.com">Cook</a>
        </li>
        <li>
          <a href="http://about.websiddu.com">About</a>
        </li>
        <!-- <li ng-class="getClass('/contact')">
          <a href="" ng-click="closeNavbarInMobile('/contact')">About</a>
        </li> -->
      </ul>
    </section>
  </nav>
</header>
