$primary-color: #37BC9B;
$hover-color: #e24500;
$secondary-color: #e9e9e9;
$alert-color: #c60f13;
$success-color: #5da423;

$muted-color: #888;

$logo-back: #37BC9B;
$logo-front: #37BC9B;
$logo-text: #ffffff;

$page-background-c1: #efefea;
$page-background-c2: #fff;

$header-background-c1: #434A54;
$header-background-c2: #656D78;

$footer-background-c1: $header-background-c1;
$footer-background-c2: $header-background-c2;

$button-background-c1: #37BC9B;
$button-background-c2: #48CFAD;

$topbar-link-color: #fff;
$topbar-link-color-hover: #fff;
$topbar-link-color-active: #fff;
$topbar-link-font-size: em-calc(14);
