$primary-color: #4A89DC;
$hover-color: #e24500;
$secondary-color: #e9e9e9;
$alert-color: #c60f13;
$success-color: #5da423;

$muted-color: #888;

$logo-back: #4A89DC;
$logo-front: #5D9CEC;
$logo-text: #ffffff;

$page-background-c1: rgba(230, 230, 230, 0.51);
$page-background-c2: rgba(230, 230, 230, 0.51);

$header-background-c1: #fff;
$header-background-c2: #fff;

$header-border-size: 1px;
$header-border-color: #edeeee;

$footer-background-c1: $header-background-c1;
$footer-background-c2: $header-background-c2;

$button-background-c1: #4A89DC;
$button-background-c2: #5D9CEC;

$topbar-link-color: #4a4a5b;
$topbar-link-color-hover: #fff;
$topbar-link-color-active: #fff;
$topbar-link-font-size: em-calc(14);

$topbar-menu-link-color-toggled: #434343;
$topbar-menu-icon-color-toggled: #434343;

$topbar-menu-link-color: #434343;
$topbar-menu-icon-color: #434343;
