.landing-page {
  margin-top: 80px;
}
.l-avatar-default {
  text-align: center;
}
.l-design-trigger {
  text-align: right;
  margin-top: 50px;

}
.l-code-trigger {
  text-align: left;
  margin-top: 56px;
}

.l-dc-intro {

}

h2.l-n {
  font-size: 38px;
  font-weight: 400;
  text-align: center;
}

h3.l-d {
  font-size: 22px;
  font-weight: 300;
  text-align: center;
}
