<h1 class="page-heading">About</h1>
<div class="row">
  <div class="large-8 small-12 columns">
    <div class="about-img">
      <p>
        <img src="images/me.jpg" alt="A banner picture with green background and Sid looking to the right.." />
      </p>
    </div>
    <h3 class="page-sub-heading">I'm a UX Designer &amp; Front-end Engineer.</h3>
    <div class="about-text">
      <p class="">
        I am a first year graduate student doing masters in <a href="http://www.hcde.washington.edu/" target="_blank">Department of Human Centered Design &amp; Engineering (HCDE)</a> at <a href="http://www.washington.edu/">University of Washington</a>.
      </p>
      <p class="">
        <!--    I'm interested in Social Computing, Usability, Gamificaiton, On-line Communities and Information Visualization. -->
        <p class=""> I love to work on cutting edge front-end technologies like CSS3, HTML5, Web Components, React.js, Angular.js, jQuery etc... and also building the front-end architecture, defining standards &amp; methodologies for complex web applicaitons.</p>
      </p>
      <p class="">
        Prior to joining Udub, I worked as a Front-end engineer &amp; UX Designer at <a href="http://www.tcs.com/about/tcs_difference/innovation/tcs_labs/Pages/default.aspx#chennai" target="_blank">Web 2.0</a> Innovation Labs, <a href="http://tcs.com" target="_blank"> Tata Consultancy Services</a>, Chennai for 2 years and 10 months.
      </p>
      <p class="">
        Apart from coding, designing and research, I enjoy pencil sketching, cooking and photography.
      </p>
      <div class=" side-social long">
        <ul class="social-list long">
          <li ng-repeat="item in socialprofiles | orderBy:'name'" class="a{{$index+1}} zoomIn">
            <a ng-href="{{item.url}}" target="_blank" class="c{{($index % 8) + 1}}"> <em class="icon icon-{{item.icon}}"></em>
              <span class="sr-only">{{item.name}}</span>
            </a>
          </li>
        </ul>
      </div>
      <br>
      <p class="muted light" class="">
        I am currently searching for full-time positions to help me accomplish my zeal for creating delightful and intuitive experiences, in UX design and Front-end Engineering.
      </p>
    </div>
  </div>
  <div class="large-4 small-12 columns">
    <div class="work-timeline">
      <ul>
        <li ng-repeat="job in jobs" class="a{{$index+1}} slideInRight">
          <span>{{job.time}}</span>
          <h5>{{job.position}}</h5>
          <h6>{{job.company}}, {{job.location}} </h6>
        </li>
      </ul>
      <div class="about-text a9 slideInRight">
        <p>
          Check my <a href="http://www.linkedin.com/in/websiddu" target="_blank">Linkedin</a> profile for more details.
        </p>
      </div>
    </div>
  </div>
</div>
