<div class="page">
  <h2 class="page-heading">/about</h2>
  <p>
    <a href="resources/resume.pdf" target="_blank"> <em class="icon-file-pdf"></em> Resume</a>
  </p>
  <h3 class="page-sub-heading">I'm a Front-end Developer and UX Designer from India.</h3>

  <p>
    I am Siddhartha Gudiapti, working as Front-end developer &amp; UX Designer with Web 2.0 Innovation Labs, Tata Consultancy Services, Chennai. I work on cutting edge front-end technologies like CSS3, HTML5, Web Components,  Angularjs, jQuery etc... and defining standards &amp; methodologies for front-end development.
  </p>
  <p>
    Along with development, I work on User Experience Designer for some modules in our product, which involves in wire-framing and visual designing. In Labs, I research on Social Web, Usability, Gamificaiton and Usability.
    Apart from coding, designing and research, I enjoy pencil sketching, cooking and photography.
  </p>
  <div class="des-dev row">
    <div id="des_dev" style="width: 200px, height: 200"></div>
    <!-- / %canvas{:id=>"des_dev", :width=>"200", :height=>"200"} -->
    <div class="large-6 columns">
      <h6>Designer</h6>
      <ul>
        <li>User Experience Design</li>
        <li>Wire-framing</li>
        <li>Rapid interactive prototyping</li>
        <li>Gestural and tangible interactions</li>
        <li>Mobile interface Design</li>
        <li>Contextual Inquiries</li>
      </ul>
    </div>
    <div class="large-6 columns">
      <h6>Developer</h6>
      <ul>
        <li>CSS3, HTML5 and Javascript</li>
        <li>SASS, Compass and LESS</li>
        <li>jQuery, angular.js and backbone.js</li>
        <li>Ruby on Rails</li>
        <li>asp.NET</li>
        <li>Java, Python</li>
      </ul>
    </div>
  </div>

</div>
