<blockquote class="full">
  Visualizing trends makes, and the usage of Alternative Fuel Vehicles in the US.
</blockquote>
<div class="row">
  <div class="large-12 columns">
    <aside>
      <dl class="metadata">
        <dt>Focus</dt>
        <dd class="tasks-icons">
          <img src="http://websiddu.com/images/i/iv.svg" data-tooltip aria-haspopup="true" class="tip-top" alt="Information Visulization" title="Information Visulization">
          <img src="http://websiddu.com/images/i/ixd.svg" data-tooltip aria-haspopup="true" class="tip-top" alt="Interaction Design" title="Interaction Design">
          <img src="http://websiddu.com/images/i/code.svg" data-tooltip aria-haspopup="true" class="tip-top" title="Development" alt="Development">
        </dd>
      </dl>
      <dl class="metadata">
        <dt>Date</dt>
        <dd>Nov 2014 – Dec 2014</dd>
      </dl>
      <dl class="metadata">
        <dt>Platform</dt>
        <dd>Web</dd>
      </dl>
      <dl class="metadata">
        <dt>Role</dt>
        <dd>UX Designer & Developer</dd>
      </dl>
      <dl class="metadata">
        <dt>My Tasks</dt>
        <dd>Wireframing</dd>
        <dd>Prototyping</dd>
        <dd>Development</dd>
      </dl>
      <dl class="metadata">
        <dt>Tools</dt>
        <dd> D3.js </dd>
        <dd> JavaScript </dd>
        <dd> GitHub </dd>
        <dd> QGIS</dd>
        <dd> Adobe Photoshop</dd>
      </dl>
      <dl class="metadata">
        <dt>Collaborators</dt>
        <dd>Ivan Koveshnikov</dd>
        <dd>Laurel Stone</dd>
        <dd>Sangeun Lee</dd>
      </dl>
    </aside>
    <section>
      <h5 class="section-heading">Summary</h5>
      <div class="section-body">
        <p>I worked on a small team to build a D3 data visualizations to allow users to explore differen alternative fuel vehicles. We followed a user-centered design process in which we interviewed and tested our designs with users. Ultimately, we created a D3 dashboard in which users play with it. The Viz was built using data visualization best practices (such as using proper visual encoding methods and supporting ideal data interactions) learned in a graduate information visualization course at UW (511A).</p>
        <div class="link-container">
          <strong>Project Links</strong>
          <ol>
            <li>
              <a href="http://websiddu.github.io/alternative-fuel-vehicles-usa/" target="_blank">Link to the visualizations</a>
            </li>
            <li>
              <a href="https://drive.google.com/file/d/0B73Qoo-AGhMMbi1HRVpENy1IWWs/view?usp=sharing" target="_blank">Final paper/documentation (PDF, 4 MB)</a>
            </li>
            <li>
              <a href="https://drive.google.com/file/d/0B73Qoo-AGhMMSzlrWUdKaTZta0U/view?usp=sharing" target="_blank">Final presentation/documentation (PDF, 4 MB)</a>
            </li>
          </ol>
        </div>
      </div>
    </section>
    <section>
      <h5 class="section-heading">Introduction</h5>
      <div class="section-body">
        <p>HCDE 511A presented an opportunity for Team Tesseract to produce a complex interactive visualization. Focusing on trends, makes, and the usage of Alternative Fuel Vehicles in the US, we utilized the UCD process to create an underlying outline, proposal, and preliminary prototype with Tableau, all whilst incorporating best practices for visualization features. Conducting a user research survey, connecting our goals towards consumer needs, and desiring to have a highly interactive element focused our efforts on creating a multi-tab visualization crafted with D3. This paper will lay out-out our design process, challenges, connectivity to the class, and discuss our final visualization which can be found <a href="http://afvs.me" target="_blank">here</a> (http://afvs.me)</p>
      </div>
    </section>
    <section>
      <h5 class="section-heading">User Research</h5>
      <div class="section-body">
        <p>In the early prototyping phase, we sent out a survey to understand more about what types of information would be the most useful to our users, their understanding of the prototyped visual formats we had already created, and any missing information they might expect to see. An overarching goal of this early research was to validate our design goals, the value of the data, and to identify if our visualization concepts were usable.</p>
      </div>
    </section>
    <section>
      <h5 class="section-heading">Design Process</h5>
      <div class="section-body">
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="http://assets.websiddu.com/afv/fig1.png" itemprop="contentUrl">
            <img src="http://assets.websiddu.com/afv/fig1.png" itemprop="thumbnail" alt="Image showing our design process" data-size="[1000, 773]" height="773px" width="1000px">
          </a>
          <figcaption itemprop="caption description">Our design process</figcaption>
        </figure>

      </div>
    </section>
    <section>
      <h5 class="section-heading">Persona</h5>
      <div class="section-body">
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="http://assets.websiddu.com/afv/fig3.jpg" itemprop="contentUrl">
            <img src="http://assets.websiddu.com/afv/fig3.jpg" itemprop="thumbnail" alt="Generated personas" data-size="[1000, 773]" height="773px" width="1000px">
          </a>
          <figcaption itemprop="caption description">Three different persona for our application</figcaption>
        </figure>
      </div>
    </section>
    <section>
      <h5 class="section-heading">Paper prototypes</h5>
      <div class="section-body">
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="http://assets.websiddu.com/afv/fig2.jpg" itemprop="contentUrl">
            <img src="http://assets.websiddu.com/afv/fig2.jpg" itemprop="thumbnail" alt="Initial paper prototypes that we created for the visualization" data-size="[1000, 773]" height="773px" width="1000px">
          </a>
          <figcaption itemprop="caption description">Initial paper prototypes that we created for the visualization</figcaption>
        </figure>
      </div>
    </section>
    <section>
      <h5 class="section-heading">Usability Testing</h5>
      <div class="section-body">
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="http://assets.websiddu.com/afv/fig4.png" itemprop="contentUrl">
            <img src="http://assets.websiddu.com/afv/fig4.png" itemprop="thumbnail" alt="A person trying to use the visualization" data-size="[1000, 773]" height="773px" width="1000px">
          </a>
          <figcaption itemprop="caption description">A person trying to use the visualization</figcaption>
        </figure>
      </div>
    </section>
    <section>
      <h5 class="section-heading">Final product</h5>
      <div class="section-body">
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="http://assets.websiddu.com/afv/afv1.png" itemprop="contentUrl">
            <img src="http://assets.websiddu.com/afv/afv1.png" itemprop="thumbnail" alt="Welcome screen with give some context about the project." data-size="[1000, 773]" height="773px" width="1000px">
          </a>
          <figcaption itemprop="caption description">Welcome screen with give some context about the project.</figcaption>
        </figure>
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="http://assets.websiddu.com/afv/afv2.png" itemprop="contentUrl">
            <img src="http://assets.websiddu.com/afv/afv2.png" itemprop="thumbnail" alt="Landing page of the visualization showing the carbon emission map in different states in the USA" data-size="[1000, 773]" height="773px" width="1000px">
          </a>
          <figcaption itemprop="caption description">Landing page of the visualization showing the carbon emission map in different states in the USA</figcaption>
        </figure>
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="http://assets.websiddu.com/afv/afv3.png" itemprop="contentUrl">
            <img src="http://assets.websiddu.com/afv/afv3.png" itemprop="thumbnail" alt="Tab showing the number of alternative fuel vehicles based on vehicle type visulization." data-size="[1000, 773]" height="773px" width="1000px">
          </a>
          <figcaption itemprop="caption description">Number of alternative fuel vehicles based on vehicle type.</figcaption>
        </figure>
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="http://assets.websiddu.com/afv/afv4.png" itemprop="contentUrl">
            <img src="http://assets.websiddu.com/afv/afv4.png" itemprop="thumbnail" alt="Tab showing the Alternative fuel consumption over the years." data-size="[1000, 773]" height="773px" width="1000px">
          </a>
          <figcaption itemprop="caption description">Tab showing the Alternative fuel consumption over the years</figcaption>
        </figure>
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="http://assets.websiddu.com/afv/afv4.png" itemprop="contentUrl">
            <img src="http://assets.websiddu.com/afv/afv4.png" itemprop="thumbnail" alt="Tab showing the AFV's based on the Manufacturers" data-size="[1000, 773]" height="773px" width="1000px">
          </a>
          <figcaption itemprop="caption description">Tab showing the AFV's based on the Manufacturers</figcaption>
        </figure>
      </div>
    </section>
  </div>
</div>
