<section class="page">
  <h2 class="page-heading">/contact</h2>
  <h3 class="page-sub-heading">You can reach me only thought Internet !!</h3>
  <p>
    Drop a mail to, me(at)websiddu.com. I will answer your questions ASAP(hopefully). Below are few of my social profiles.
  </p>
  <ul class="contact-page-list">
    <li> <a href="http://fb.com/websiddu" target="_blank">Facebook</a></li>
    <li> <a href="http://twitter.com/websiddu" target="_blank">Twitter</a></li>
  </ul>
<iframe height="497" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://websiddu.wufoo.com/embed/zuj44yq0cai1vg/"><a href="https://websiddu.wufoo.com/forms/zuj44yq0cai1vg/"> Fill my contact form</a>
</iframe>

</section>
