<div class="row">
  <section class="page">
    <h2 class="page-heading">/contact</h2>
    <h3 class="page-sub-heading">You can reach me only thought Internet !!</h3>
    <p>
      Let's talk on anything that you are interested, drop a mail to <a href="mailto:me@websiddu.com">me@websiddu.com</a>. I'd love to hear from you!
    </p>
    <br>
    <h6>Some of my social profiles</h6>
    <div class="side-social animated fadeInDown">
      <ul class="inline-list social-list">
        <li ng-repeat="item in socialprofiles">
          <a ng-href="{{item.url}}" target="_blank" class="c{{($index % 8) + 1}}"> <em class="icon icon-{{item.icon}}"></em>
          </a>
          </a>
        </li>
      </ul>
    </div>
    <br>
    <br>
    <iframe height="497" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none" src="https://websiddu.wufoo.com/embed/zuj44yq0cai1vg/"><a href="https://websiddu.wufoo.com/forms/zuj44yq0cai1vg/"> Fill my contact form</a>
    </iframe>
  </section>
</div>
<div ng-include="'views/partials/footer.html'"></div>
