<section class="page">
  <h2 class="page-heading">/contact</h2>
  <h3 class="page-sub-heading">You can reach me only thought Internet !!</h3>
  <p>
    Let's talk on any thing that you are interested, drop a mail to <a href="mailto:me@websiddu.com">me@websiddu.com</a>. I am not saying pretty girls are given equal preference with others. Please don't hesitate contact me!!
  </p>
  <h6>Some of my social profiles</h6>
  <ul class="contact-page-list">
    <li> <a href="http://fb.com/websiddu" target="_blank">Facebook</a></li>
    <li> <a href="http://twitter.com/websiddu" target="_blank">Twitter</a></li>
    <li> <a href="http://www.linkedin.com/in/websiddu" target="_blank">Linkedin</a></li>
    <li> <a href="http://behance.net/websiddu" target="_blank">Behance</a></li>
  </ul>
<iframe height="497" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://websiddu.wufoo.com/embed/zuj44yq0cai1vg/"><a href="https://websiddu.wufoo.com/forms/zuj44yq0cai1vg/"> Fill my contact form</a>
</iframe>

</section>
