<div class="page">
  <div class="row">
    <div class="ds-shot-heading">
      <h3 class="ds-shot-heading-text">{{art.name}}</h3>
    </div>
    <div class="large-6 small-12 columns">
      <div class="ds-shot">
        <div class="ds-shot-img">
          <img alt="" ng-src="{{art.preview_thumb}}" ng-srcset="{{art.preview_thumb}} 1x, {{art.preview}}  2x">
        </div>
        <div class="ds-shot-content" ng-bind-html="art.content">

        </div>
      </div>
    </div>
    <div class="large-3 small-12 columns">
      <div class="ds-shot-stats">
        <ul class="ds-shot-menu">
          <li>
            <a href=""><em class="icon icon-love"></em> Like? </a>
            <span> 11 Likes</span>
          </li>
          <li>
            <em class="icon icon-eye"></em> Views
            <span> 122 Views</span>
          </li>
        </ul>
        <div class="ds-shot-tags">
          <h5 class="ds-shot-tags-heading">Tags</h5>
          <ul class="ds-shot-tags-list">
            <li>Illustration</li>
            <li>Shot</li>
            <li>PSD</li>
            <li>Vector</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="large-3 small-12 columns">
      <h5>Other stuff</h5>
    </div>
  </div>

  <div class="row">
    <div class="clear prj-nav">
      <div class="large-6 small-12 columns prev-prj">
        <a href="#/projects/{{project.nextProject.project._id.$oid}}">
          <b>{{project.nextProject.project.title}}</b>
          <br> &larr; Prev shot </a>
      </div>
      <div class="large-6 small-12 columns next-prj">
        <a href="#/projects/{{project.nextProject.project._id.$oid}}">
          <b>{{project.nextProject.project.title}}</b>
          <br> Next shot &rarr;</a>
      </div>
    </div>
  </div>
</div>
<div ng-include="'views/partials/footer.html'"></div>
