<div class="page">
  <div class="row">
    <div class="large-12 columns">
      <h2 class="page-heading left">/design</h2>
      <div class="clear search">
        <label for="search">
          <input type="text" placeholder="Search design.." ng-model="searchDesign" name='search' id='search' class="serachbox">
        </label>
        <span class="icon icon-search search-icon" aria-hidden='true'> <span class="sr-only">Search Icon</span></span>
      </div>
      <br>
      <div class="no-results ng-hide" ng-show="(arts | filter:searchDesign).length == 0">
        <img src="images/design_default.svg" alt="">
        <br>
        <h4>It seems that, I did'nt work on this kind of design..</h4>
      </div>
      <ol class="designs small-block-grid-2 mini-block-grid-1 large-block-grid-4 arts-grid">
        <li ng-repeat="art in arts | filter:searchDesign" class="zoomIn a{{($index % 4)+1}}">
          <div class="design">
            <div class="design-shot">
              <div class="design-img">
                <a class="design-link" ng-href="#/designs/{{art.id.$oid}}">
                  <div data-picture="" data-alt="{{art.name}}">
                    <img alt="" ng-src="{{art.preview_thumb}}" ng-srcset="{{art.preview_thumb}} 1x, {{art.preview}} 2x">
                  </div>
                </a>
                <a class="design-over" ng-href="#/designs/{{art.id.$oid}}"> <strong>{{art.name}}</strong>
                  <span class="comment">{{art.content}}</span>
                  <em class="timestamp">{{prettyDate(art.date)}}</em>
                </a>
              </div>
              <ul class="tools group" style="visibility: visible;">
                <li class="fav">
                  <em class="icon icon-love"></em> {{art.votes}}
                </li>
                <li class="views">
                  <em class="icon icon-eye"></em> {{art.views}}
                </li>
              </ul>
            </div>
          </div>
          <a href="#/designs/{{art.id.$oid}}">
            <div class="art" style="background: url('{{art.preview_thumb}}') center no-repeat;">
            </div>
          </a>
        </li>
      </ol>
    </div>
  </div>
</div>
<div ng-include="'views/partials/footer.html'"></div>
