<div class="page">
  <div class="row">
    <div class="ds-shot-heading">
      <h3 class="ds-shot-heading-text">{{art.name}}</h3>
    </div>
    <div class="large-6 small-12 columns">
      <div class="ds-shot">
        <div class="ds-shot-img">
          <img alt="" ng-src="{{art.preview_thumb}}" ng-srcset="{{art.preview_thumb}} 1x, {{art.preview}}  2x">
        </div>
        <div class="ds-shot-content" ng-bind-html="art.content">

        </div>
      </div>
    </div>
    <div class="large-3 small-12 columns">
      <div class="ds-shot-stats">
        <ul class="ds-shot-menu">
          <li>
            <a href="" ng-click="voteUp()" ng-if="!isVoted"><em class="icon icon-love"></em> Like? </a>
            <a href="" class="voted" title="I am glad that you already like this." data-tooltip aria-haspopup="true" class="tip-top" ng-if="isVoted"><em class="icon icon-love"></em> Like? </a>
            <span> {{art.votes}} Likes</span>
          </li>
          <li>
            <em class="icon icon-eye"></em> Views
            <span> {{art.views}} views</span>
          </li>
        </ul>
        <div class="ds-shot-tags" ng-if="art.tags">
          <h5 class="ds-shot-tags-heading">Tags</h5>
          <ul class="ds-shot-tags-list">
            <li ng-repeat="tag in art.tags.split(',')"> {{tag}} </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="large-3 small-12 columns">
      <h5 class="">More by me</h5>
    </div>
  </div>
  <div class="row">
    <div class="clear des-nav">
      <div class="large-6 small-12 columns prev-des">
        <a href="#/designs/{{art.previousArt.art._id.$oid}}"  ng-if="art.previousArt">
          <img ng-src="{{art.previousArt.art.preview_thumb}}" alt="">
          <span>Prev shot </span>
          <b>{{art.previousArt.art.name}}</b>
          <small> Use <key>&larr;</key> key to navigate </small>
          </a>
      </div>
      <div class="large-6 small-12 columns next-des" >
        <a href="#/designs/{{art.nextArt.art._id.$oid}}" ng-if="art.nextArt">
          <img ng-src="{{art.nextArt.art.preview_thumb}}" alt="">
          <span>Next shot </span>
          <b>{{art.nextArt.art.name}}</b>
          <small> Use <key>&rarr;</key> key to navigate </small>
        </a>
      </div>
    </div>
  </div>
</div>
<div ng-include="'views/partials/footer.html'"></div>
