<div class="">
  <section class="landing-page">
    <div class="l-dc-area row">
      <div class="l-design large-4 small-1 columns animated">
        <!--        <img class="js_design_trigger animated" src="images/design.png">
        <p class="l-d-d animated">
          I design usable websites and mobile applications
          &mdash;
          I am a User Experience Designer.
        </p> -->
      </div>
      <div class="l-avatar large-4 small-12 columns animated">
        <img class="js_default_trigger animated" src="images/sid-default.png" alt="Super handsome picture of Sid, with a nice dimple and cute smile.">
        <!-- <img class="js_avatar_design hide animated" src="images/sid-design.png"> -->
        <!-- <img class="js_avatar_code hide animated" src="images/sid-code.png"> -->
      </div>
      <div class="l-code large-4 small-1 columns animated">
        <!--         <img class="js_code_trigger" src="images/code.png">
        <p class="l-d-d">
          I architect complex front-end applications. &mdash; I am a Front-end Engineer.
        </p> -->
      </div>
    </div>
    <div class="l-dc-intro animated fadeIn">
      <h1 class="l-n text">
      Hello, I am Sid...
      </h1>
      <div class="l-d">
        <span class="sr-only">I'm a UX Designer and Front-end Engineer creating cool stuff on the internet that makes sense and delight users.</span>
        <p aria-hidden='true'>
          I'm a <strong class="text-normal">UX Designer</strong> and Front-end Engineer creating cool stuff <br> on the internet that <em class="dotted">makes sense</em> and <span class="delight">
            <span class="hide">Seems like you’re enjoying yourself!</span><span class="animate">
            <span>d</span><span>e</span><span>l</span><span>i</span><span>g</span><span>h</span><span>t</span></span></span> users. <br>
          </p>
          <p>
            I <a href="#/design">design</a>, <a href="https://github.com/websiddu" target="_blank">develop</a>, <a href="http://cook.websiddu.com/" target="_blank">cook</a>, <a href="https://www.flickr.com/photos/websiddu" target="_blank">click</a> and learn…
          </p>
        </div>
        <div class="center">
          <a href="#/portfolio" class="small l-button">Check out my portfolio &rarr;</a>
        </div>
      </div>
    </section>
  </div>
  <div class="landing-chart"></div>
  <div class="landing-footer">
    <div ng-include="'views/partials/footer.html'"></div>
  </div>
