<div class="landing-page">
  <div class="l-dc-area row">
    <div class="l-design large-4 small-4 columns animated">
      <img class="js_design_trigger animated" src="/images/design.png">
      <p class="l-d-d animated">
        I design pretty websites with <del>photoshop</del>
        creativity. I design usable wire-frames with <del>Axure</del>
        common sense. So I am a designer.
      </p>
    </div>
    <div class="l-avatar large-4 small-4 columns animated">
      <img class="js_default_trigger animated fadeInDown" src="/images/sid-default.png">
      <img class="js_avatar_design hide animated fadeInDown" src="/images/sid-design.png">
      <img class="js_avatar_code hide" src="/images/sid-code.png" style="display: none;"></div>
    <div class="l-code large-4 small-4 columns animated" style="opacity: 1;">
      <img class="js_code_trigger" src="/images/code.png">
      <p class="l-d-d">
        I write elegant and efficient css, html and javascript, Occasionally I code ruby, python and android. So I am a frontend developer.
      </p>
    </div>
  </div>
  <div class="l-dc-intro">
    <h2 class="l-n">Namasthe!</h2>
    <h3 class="l-d">
      I am Sid
      <br>I design, code, cook, click and I Learn...</h3>
  </div>
</div>
