<div class="row">
<div class="page">
  <h2 class="page-heading left">/portfolio</h2>
  <div class="clear project-filter">
  <form action="">
    <div class="left">
     <span class="muted">Sort by</span>
     <select name="sortedBy" id="sortedBy" ng-model="sortedBy" class="styled">
       <option value="-size">Size △</option>
       <option value="size">Size ▽</option>
       <option value="date">Date △</option>
       <option value="-date">Date ▽</option>

     </select>
   </div>
    <div class="right">
      <span class="muted">Show&nbsp;&nbsp;</span>
      <label class="normal project-filter-options" for="all"><input type="radio" ng-model="selectedSize" checked="true" name="filter" value="" id="all"> All</label>
      <label class="normal project-filter-options" for="large"><input type="radio" ng-model="selectedSize" name="filter" value="large" id="large"> Large</label>
      <label class="normal project-filter-options" for="medium"><input type="radio" ng-model="selectedSize" name="filter" value="medium" id="medium"> Medium</label>
      <label class="normal project-filter-options" for="small" ><input type="radio" ng-model="selectedSize" name="filter" value="small" id="small"> Small</label>
       <span class="muted">Projects</span>

    </div>
    <input type="text" placeholder="Search projects.. e.g. jquery" ng-model="searchText">
  </form>
  </div>

  <div class="no-results fadeInBig ng-hide" ng-show="(projects | filter:searchText | filter:selectedSize).length == 0">
    <img src="images/no-results.svg" alt="">
    <br>
    <h4>It seems that, I did'nt work on this kind of project..</h4>
  </div>
  <ul class="small-block-grid-2 mini-block-grid-1 large-block-grid-2 portfolio-grid">
    <li ng-repeat="project in projects | orderBy:sortedBy:false | filter:searchText | filter:selectedSize" class="fadeInPrj">
    <a href="#/projects/{{project.id.$oid}}">
      <div class="project">
        <div class="project-thumb" ng-style='projectThumb(project.thumbnail)'>

        </div>

        <h2 class="project-title">{{project.title}}</h2>
      </div>
      </a>
    </li>
  </ul>

</div>
</div>
