<div class="page">
  <h2 class="page-heading left">/<a class="standalone" href="#/portfolio" >projects</a>/{{project.title}}</h2>
  <div class="project-show-banner">
    <div class="project-show-banner-img" ng-style="{{style}}">
    </div>
  </div>
  <div class="row">
    <div class="large-9 small-12 columns">
      <div class="project-show-url">
        <a href="{{project.projectUrl}}" target="_blank" class="truncate">{{project.projectUrl}}</a>
      </div>
    </div>
    <div class="large-3 small-12 columns">
      <div class="project-show-date">{{date}}</div>
    </div>
  </div>

  <div class="project-show-tags">
    <ul class="tags">
      <li ng-repeat="tag in project.tags.split(',')"> <em class="icon-bolt"></em> {{tag}} </li>
    </ul>
  </div>
  <div class="project-show-description" ng-bind-html="project.description">
  </div>
  <div class="project-show-screenshots">
    <ul class="small-block-grid-2 mini-block-grid-1 large-block-grid-3 portfolio-grid">
    <li ng-repeat="screenshot in project.screenshots.split(',')">
      <a href="{{screenshot}}" class="scrSht">
        <img ng-src="{{screenshot}}" alt="{{screenshot}}">
      </a>
    </li>
    </ul>
  </div>
</div>
