<div class="row">
  <div class="project-page">
    <div class="large-12 columns">
      <div class="page">
        <div class="project-show-banner">
          <div class="project-show-banner-img" ng-style="{{style}}">
          </div>
          <h2 class="project-page-heading left" id="prj-title">
            <span class="leftarr" ng-if="project.previousProject">
              <a href="#/projects/{{project.previousProject.project._id.$oid}}"><em class="icon  icon-arrow-left"></em></a>
            </span>
            {{project.title}}
            <span class="rightarr" ng-if="project.nextProject"><a href="#/projects/{{project.nextProject.project._id.$oid}}"><em class="icon  icon-arrow-right"></em></a></span>
          </h2>
        </div>
        <br>
        <div class="project-show-meta">
          <div class="clear page-show-nav">
            <span class="left" ng-if="project.previousProject"><a href="#/projects/{{project.previousProject}}">&larr; Previous project</a></span>
            <span class="right" ng-if="project.nextProject"><a href="#/projects/{{project.nextProject}}">Next project &rarr;</a></span>
          </div>
          <div class="row">
            <div class="large-9 small-12 columns">
              <div class="project-show-url">
                <span ng-if="project.isActive">
              <span class="truncate">
                <em class="icon icon-link"></em>
                <a href="{{project.projectUrl}}" target="_blank">{{project.projectUrl}}</a>
              </span>
                </span>
                <span ng-if="project.isActive == 0">
            <del><a>{{project.projectUrl}}</a></del> <small class="muted">(This url is not active!!)</small>
            </span>
              </div>
            </div>
            <div class="large-3 small-12 columns">
              <div class="project-show-date"><em class="icon icon-calendaralt"></em> {{date}}</div>
            </div>
          </div>
          <div class="project-show-tags">
            <ul class="tags">
              <li ng-repeat="tag in project.tags.split(',')"> {{tag}} </li>
            </ul>
          </div>
        </div>
        <div class="project-show-description" ng-bind-html="project.description">
        </div>
        <div class="project-show-screenshots" ng-if="project.screenshots != ''">
          <ul class="small-block-grid-2 mini-block-grid-1 large-block-grid-2 portfolio-grid">
            <li ng-repeat="screenshot in project.screenshots.split(',')">
              <a href="{{screenshot}}" class="scrSht">
                <img ng-src="{{screenshot}}" alt="{{screenshot}}">
              </a>
            </li>
          </ul>
        </div>
        <div class="center">
          <div class="voteup-anim" ng-class="{voted: isVoted}">
            <a href="" ng-click="voteUp()" class="voteup">
              <em class="icon icon-thumbsup"></em>
              <b>{{project.votes}}</b>
            </a>
            <span>{{votes}} </span>
          </div>
        </div>
        <div class="clear prj-nav">
          <div class="row">
            <div class="large-6 small-12 columns">
              <a href="#/projects/{{project.previousProject.project._id.$oid}}" ng-if="project.previousProject">
                <b>{{project.previousProject.project.title}}</b>
                <br> &larr; Previous project</a>
            </div>
            <div class="large-6 small-12 columns next-prj">
              <a href="#/projects/{{project.nextProject.project._id.$oid}}" ng-if="project.nextProject">
                <b>{{project.nextProject.project.title}}</b>
                <br> Next project &rarr;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-include="'views/partials/footer.html'"></div>
<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="pswp__bg"></div>
  <div class="pswp__scroll-wrap">
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>
    <div class="pswp__ui pswp__ui--hidden">
      <div class="pswp__top-bar">
        <div class="pswp__counter"></div>
        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
        <button class="pswp__button pswp__button--share" title="Share"></button>
        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
        <div class="pswp__share-tooltip"></div>
      </div>
      <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
      </button>
      <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
      </button>
      <div class="pswp__caption">
        <div class="pswp__caption__center"></div>
      </div>
    </div>
  </div>
</div>
