54a656603134660002000000
<blockquote class="full"> An app the organizes and manages your favorite colors.</blockquote>
<div class="row">
  <div class="large-12 columns">
    <aside>
      <dl class="metadata">
        <dt>Date</dt>
        <dd>Nov 2014 – Dec 2014</dd>
      </dl>
      <dl class="metadata">
        <dt>Platform</dt>
        <dd>Web</dd>
      </dl>
      <dl class="metadata">
        <dt>Tasks</dt>
        <dd>User research</dd>
        <dd>Wireframing</dd>
        <dd>Prototyping</dd>
        <dd>Visual Design</dd>
        <dd>Development</dd>
      </dl>
      <dl class="metadata">
        <dt>Tools</dt>
        <dd> React.js </dd>
        <dd> JavaScript </dd>
        <dd> GitHub </dd>
        <dd> Adobe Photoshop</dd>
      </dl>
    </aside>
    <section>
      <h5 class="section-heading">Summary</h5>
      <div class="section-body">
        <p>I have few favorite color that use in most of my projects. When I was looking for tool to manage my colors, I found only couple of applications. One is kuler, its a great app but its complex and stores only 5 colors in a scheme. So, I thought of building my own application and also learn React.js and Firebase. So I built this application using react.js and firebase.
        </p>
        <div class="link-container">
          <strong>Project Links</strong>
          <ol>
            <li>
              <a href="http://websiddu.com/cc/" target="_blank">Link to the app</a>
            </li>
            <li>
              <a href="https://github.com/websiddu/colorstore" target="_blank">Link to the source on github</a>
            </li>
          </ol>
        </div>
      </div>
    </section>
    <section>
      <h5 class="section-heading">Paper prototypes</h5>
      <div class="section-body">
        <img src="http://assets.websiddu.com/colorstore/fig2.png" data-size="[1000, 1028]" data-height="1028px" data-width="1000px">
      </div>
    </section>
    <section>
      <h5 class="section-heading">Logo design</h5>
      <div class="section-body">
        <img src="http://assets.websiddu.com/colorstore/fig3.png" data-size="[800, 400]" data-height="400px" data-width="800px">
      </div>
    </section>
    <section>
      <h5 class="section-heading">Visual Design</h5>
      <div class="section-body">
        <img src="http://assets.websiddu.com/colorstore/fig1.png" data-size="[1280, 1300]" data-height="1300px" data-width="1280px">
      </div>
    </section>
  </div>
</div>
