542449cc3365390002000000
<blockquote class="full">
  Technology-icons is a webfont with a collection of many software and technology icons.
</blockquote>
<div class="row">
  <div class="large-12 columns">
    <aside class="techicons">
      <dl class="metadata">
        <dt> Date </dt>
        <dd> November 2014 </dd>
      </dl>
      <dl class="metadata">
        <dt> Tool </dt>
        <dd> JavaScript</dd>
        <dd> Illustrator</dd>
        <dd> Yeoman</dd>
        <dd> CSS</dd>
        <dd> HTML</dd>
        <dd> web-fonts</dd>
      </dl>
      <dl class="metadata">
        <dt> Tasks </dt>
        <dd> Design</dd>
        <dd> Development</dd>
      </dl>
    </aside>
    <section>
      <h5 class="section-heading">Summary</h5>
      <div class="section-body">I worked on this project on a weekend. There are very few services with provides all the technology icons at one place. This project enables the user to download all the icons as a font and use it their project. I built this project using yeoman and web-font which is a node module. </div>
      <div class="link-container">
        <strong>Project Links</strong>
        <ol>
          <li>
            <a href="http://websiddu.github.io/technology-icons/" target="_blank">Link to the app</a>
          </li>
          <li>
            <a href="https://github.com/websiddu/technology-icons/blob/master/README.md" target="_blank">How to use</a>
          </li>
          <li>
            <a href="https://github.com/websiddu/technology-icons" target="_blank">Link to the source on github</a>
          </li>
        </ol>
      </div>
    </section>
    <section>
      <h5 class="section-heading">Screen Shot</h5>
      <div class="section-body">
        <p>All the available icons in techcons.</p>
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="https://raw.githubusercontent.com/websiddu/technology-icons/master/app/images/sample.png" itemprop="contentUrl">
            <img src="https://raw.githubusercontent.com/websiddu/technology-icons/master/app/images/sample.png" itemprop="thumbnail" alt="Screenshot showing all the different icons available" data-size="[1000, 773]" height="773px" width="1000px">
          </a>
          <figcaption itemprop="caption description">Screenshot showing all the different icons available.</figcaption>
        </figure>
      </div>
    </section>
  </div>
</div>
