56064a2465782d61b2000000
<blockquote class="full">
  Designed and Built the UI for the Yahoo's Usability and Experimentation platform.
</blockquote>
<div class="row">
  <div class="large-12 columns">
    <aside class="yahoo">
      <dl class="metadata">
        <dt>Date</dt>
        <dd>June 2015 – Sep 2015</dd>
      </dl>
      <dl class="metadata">
        <dt>Role</dt>
        <dd>UX/UI Engineer
        </dd>
      </dl>
      <dl class="metadata">
        <dt>Tasks</dt>
        <dd>User Experience Design</dd>
        <dd>Front-end Development</dd>
      </dl>
      <dl class="metadata">
        <dt>Tools</dt>
        <dd>Photoshop</dd>
        <dd>Illustrator</dd>`
        <dd>Ember.js</dd>
        <dd>JavaScript</dd>
      </dl>
    </aside>
    <section>
      <h5 class="section-heading">Summary</h5>
      <div class="section-body">
        <p class="alert warning">  I signed an NDA with Yahoo!. Most of the research and design process have not been discussed here. </p>
        <p>Over the summer of 2015, I interned at Yahoo! as UI/UX Engineer working on one of the Yahoo's Usability and Experimentation platform. </p>
        <div class="link-container">
          <strong>Project Links</strong>
          <ol>
            <li>
              <del class="text-muted">This is corporate product, links not available </del>
            </li>
          </ol>
        </div>
      </div>
    </section>
    <section>
      <h5 class="section-heading">Prototypes</h5>
      <div class="section-body">
        <div class="gallery small" itemscope itemtype="http://schema.org/ImageGallery">
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/yahoo/pp_1@1x.png" itemprop="contentUrl">
              <img src="http://assets.websiddu.com/yahoo/pp_1@1x.png" itemprop="thumbnail" alt="Image description" data-size="[1500, 1159]" data-height="1159px" data-width="1500px">
            </a>
            <figcaption itemprop="caption description">Paper prototypes</figcaption>
          </figure>
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/yahoo/pp_2@1x.png" itemprop="contentUrl">
              <img src="http://assets.websiddu.com/yahoo/pp_2@1x.png" itemprop="thumbnail" alt="Image description" data-size="[1500, 1159]" data-height="1159px" data-width="1500px">
            </a>
            <figcaption itemprop="caption description">Landing page for the admin user</figcaption>
          </figure>
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/yahoo/pp_3@1x.png" itemprop="contentUrl">
              <img src="http://assets.websiddu.com/yahoo/pp_3@1x.png" itemprop="thumbnail" alt="Image description" data-size="[1500, 1159]" data-height="1159px" data-width="1500px">
            </a>
            <figcaption itemprop="caption description">Landing page for the user</figcaption>
          </figure>
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/yahoo/pp_4@1x.png" itemprop="contentUrl">
              <img src="http://assets.websiddu.com/yahoo/pp_4@1x.png" itemprop="thumbnail" alt="Image description" data-size="[1500, 1159]" data-height="1159px" data-width="1500px">
            </a>
            <figcaption itemprop="caption description">Form show page for the users</figcaption>
          </figure>
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/yahoo/pp_5@1x.png" itemprop="contentUrl">
              <img src="http://assets.websiddu.com/yahoo/pp_5@1x.png" itemprop="thumbnail" alt="Image description" data-size="[1500, 1159]" data-height="1159px" data-width="1500px">
            </a>
            <figcaption itemprop="caption description">Form show page in the next step to users</figcaption>
          </figure>
        </div>
      </div>
    </section>
    <section>
      <h5 class="section-heading">Prototype &amp; Design</h5>
      <div class="section-body">
        <div class="gallery">
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/yahoo/ns_show@2x.png" itemprop="contentUrl">
              <img src="http://assets.websiddu.com/yahoo/ns_show@2x.png" srcset="http://assets.websiddu.com/yahoo/ns_show@2x.png 2x, http://assets.websiddu.com/yahoo/ns_show@2x.png 1x" itemprop="thumbnail" alt="Namespace show page for the applicaiton" data-size="[2728, 1782]" data-height="1782px" data-width="2728px">
            </a>
            <figcaption itemprop="caption description">Name space show page for the application</figcaption>
          </figure>
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/yahoo/layer_show@2x.png" itemprop="contentUrl">
              <img src="http://assets.websiddu.com/yahoo/layer_show@2x.png" srcset="http://assets.websiddu.com/yahoo/layer_show@2x.png 2x, http://assets.websiddu.com/yahoo/layer_show@2x.png 1x" itemprop="thumbnail" alt="Layer show page for the applicaiton" data-size="[2762, 1780]" data-height="1780px" data-width="2762px">
            </a>
            <figcaption itemprop="caption description">Layer show page for the application</figcaption>
          </figure>
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/yahoo/ns_show_layer@2x.png" itemprop="contentUrl">
              <img src="http://assets.websiddu.com/yahoo/ns_show_layer@2x.png" srcset="http://assets.websiddu.com/yahoo/ns_show_layer@2x.png 2x, http://assets.websiddu.com/yahoo/ns_show_layer@2x.png 1x" itemprop="thumbnail" alt="Layer show page for the applicaiton" data-size="[2760, 1762]" data-height="1762px" data-width="2760px">
            </a>
            <figcaption itemprop="caption description">Name space Layers page for the application</figcaption>
          </figure>
        </div>
      </div>
    </section>
  </div>
</div>
