54bc5dd03462330003000000
<blockquote class="full">
  A portal designed for University of Washington's Environment Certification programs. Focusing on motivation and ease of use.
</blockquote>
<div class="row">
  <div class="large-12 columns">
    <aside class="green">
      <dl class="metadata">
        <dt>Date</dt>
        <dd>December 2014 to Jun 2015</dd>
      </dl>
      <dl class="metadata">
        <dt>Role</dt>
        <dd>A to Z i.e, <small>(I am the only person in the team)</small>
        </dd>
      </dl>
      <dl class="metadata">
        <dt>Tasks</dt>
        <dd>User Research</dd>
        <dd>User Experience Design</dd>
        <dd>Interaction Design</dd>
        <dd>Visual Design</dd>
        <dd>Usability Testing</dd>
        <dd>Full Stack Development</dd>
      </dl>
      <dl class="metadata">
        <dt>Tools</dt>
        <dd>MEAN stack</dd>
        <dd>Heroku</dd>
        <dd>SAML</dd>
      </dl>
      <dl class="metadata">
        <dt>Team</dt>
        <dd>Individual</dd>
      </dl>
    </aside>
    <section>
      <h5 class="section-heading">The Problem</h5>
      <div class="section-body">
        <p>
          Department of Sustainability at University of Washington has a green certification program that certifies the 4500 labs/offices and more than 6000 sorority houses around the campus based on a set of questions.
        </p>
        <p>
          So the problem is to <span class="text-normal"> motivate labs, offices, and sorority houses representatives to take the certification program and make survey taking and creating experience better &amp; non-frustrating.</span> In short, I was hired to improve their current experience of the certification portal.
        </p>
      </div>
    </section>
    <section>
      <h5 class="section-heading">Summary</h5>
      <div class="section-body">
        <p>I solely designed and developed a portal for the department of sustainability. I ended up redesigning the whole system from scratch discarding what they had already.</p>
        <div class="link-container">
          <strong>Project Links</strong>
          <ol>
            <li>
              <a href="https://greenctf.herokuapp.com/" target="_blank">Demo to the portal</a>
              <small> – <span class="text-normal muted">Username:</span> admin@admin.com; <span class="muted text-normal">Password:</span> admin</small>
            </li>
            <li>
              <a href="https://github.com/websiddu/green" target="_blank">Source Code</a>
            </li>
          </ol>
        </div>
        <p>Green Certification Programs at the University of Washington are recognition programs intended to reduce the environmental impact of various spaces across campus by educating students, faculty, and staff about sustainable practices. The programs provide an evaluation framework with resources to implement the practices within their spaces, in alignment with strategies laid out in the UW Climate Action Plan. </p>
      </div>
    </section>
    <section>
      <h5 class="section-heading">Process</h5>
      <div class="section-body">
        <p>Though this project has less budget, throughout the project I followed the User Centered Design process. This includes lot of ideation, paper prototyping, usability testing followed by developing the product.</p>
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="http://assets.websiddu.com/green/green_process@2x.png" itemprop="contentUrl">
            <img src="http://assets.websiddu.com/green/green_process@2x.png" srcset="http://assets.websiddu.com/green/green_process@2x.png 2x, http://assets.websiddu.com/green/green_process.png 1x" itemprop="thumbnail" alt="The process that I followed for this project." data-size="[1000, 773]">
          </a>
          <figcaption itemprop="caption description">The process that I followed for this project. </figcaption>
        </figure>
      </div>
    </section>
    <section>
      <h5 class="section-heading">Research</h5>
      <div class="section-body">
        <p>
          Before jumping into the prototyping, I did some user research to get some inputs form the stackholders. I did ~4 interviews with the people who use the product. I didn't use a survey as the user group is small. Next I conducted a focus group to get some inputs from the people who use this products.
        </p>
      </div>
    </section>
    <section>
      <h5 class="section-heading">Prototypes</h5>
      <div class="section-body">
        <div class="gallery small" itemscope itemtype="http://schema.org/ImageGallery">
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/green/pp1.png" itemprop="contentUrl">
              <img src="http://assets.websiddu.com/green/pp1.png" itemprop="thumbnail" alt="Image description" data-size="[1000, 773]">
            </a>
            <figcaption itemprop="caption description">Form creation page for the admin user</figcaption>
          </figure>
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/green/pp2.png" itemprop="contentUrl">
              <img src="http://assets.websiddu.com/green/pp2.png" itemprop="thumbnail" alt="Image description" data-size="[1000, 773]">
            </a>
            <figcaption itemprop="caption description">Landing page for the admin user</figcaption>
          </figure>
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/green/pp3.png" itemprop="contentUrl">
              <img src="http://assets.websiddu.com/green/pp3.png" itemprop="thumbnail" alt="Image description" data-size="[1000, 773]">
            </a>
            <figcaption itemprop="caption description">Landing page for the user</figcaption>
          </figure>
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/green/pp4.png" itemprop="contentUrl">
              <img src="http://assets.websiddu.com/green/pp4.png" itemprop="thumbnail" alt="Image description" data-size="[1000, 773]">
            </a>
            <figcaption itemprop="caption description">Form show page for the users</figcaption>
          </figure>
        </div>
      </div>
    </section>
    <section>
      <h5 class="section-heading">SiteMaps</h5>
      <div class="section-body">
        <p>From the low-fi wire-frames, I build a flow diagram to see the big picture of the total application.</p>
        <div class="gallery shadow">
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/green/green_sitemap@2x.png" itemprop="contentUrl">
              <img src="http://assets.websiddu.com/green/green_sitemap@2x.png" itemprop="thumbnail" alt="Flow diagram for the administrator view." data-size="[1000, 773]">
            </a>
            <figcaption itemprop="caption description">Flow diagram for the administrator view.</figcaption>
          </figure>
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/green/sitemap.png" itemprop="contentUrl">
              <img style="padding: 10px" src="http://assets.websiddu.com/green/sitemap.png" itemprop="thumbnail" alt="Flow diagram for the administrator view." data-size="[1000, 773]">
            </a>
            <figcaption itemprop="caption description">Flow diagram for the administrator view.</figcaption>
          </figure>
        </div>
      </div>
    </section>
    <section>
      <h5 class="section-heading">Design</h5>
      <div class="section-body">
        <p>I designed many version of this site and finally ended up looking like this. For each and every feature, I design some empty states concepts with can be seen below.</p>
        <div class="gallery shadow">
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/green/empty1.png" itemprop="contentUrl">
              <img src="http://assets.websiddu.com/green/empty1.png" srcset="http://assets.websiddu.com/green/empty1.png 2x" itemprop="thumbnail" alt="Empty sate when they are no forms." data-size="[1000, 773]">
            </a>
            <figcaption itemprop="caption description">Empty state when they are no certificates.</figcaption>
          </figure>
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/green/empty2.png" itemprop="contentUrl">
              <img src="http://assets.websiddu.com/green/empty2.png" srcset="http://assets.websiddu.com/green/empty2.png 2x" itemprop="thumbnail" alt="Empty sate when they are no certificates." data-size="[1000, 773]">
            </a>
            <figcaption itemprop="caption description">Empty state when they are no certificates.</figcaption>
          </figure>
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/green/empty3.png" itemprop="contentUrl">
              <img src="http://assets.websiddu.com/green/empty3.png" srcset="http://assets.websiddu.com/green/empty3.png 2x" itemprop="thumbnail" alt="Empty sate when they are no responses." data-size="[1000, 773]">
            </a>
            <figcaption itemprop="caption description">Empty state when they are no responses.</figcaption>
          </figure>
        </div>
        <div class="gallery shadow">
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/green/s/1.png" itemprop="contentUrl">
              <img src="http://assets.websiddu.com/green/s/1.png" itemprop="thumbnail" alt="Login page for the application" data-size="[1000, 773]">
            </a>
            <figcaption itemprop="caption description">Login page for the application</figcaption>
          </figure>
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/green/s/2.png" itemprop="contentUrl">
              <img src="http://assets.websiddu.com/green/s/2.png" itemprop="thumbnail" alt="Empty state when the user logs in for the first time." data-size="[1000, 773]">
            </a>
            <figcaption itemprop="caption description">Empty state when the user logs in for the first time. </figcaption>
          </figure>
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/green/s/3.png" itemprop="contentUrl">
              <img src="http://assets.websiddu.com/green/s/3.png" itemprop="thumbnail" alt="Form creation page where users will create forms." data-size="[1000, 773]">
            </a>
            <figcaption itemprop="caption description">Form creation page where users will create forms. </figcaption>
          </figure>
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/green/s/4.png" itemprop="contentUrl">
              <img src="http://assets.websiddu.com/green/s/4.png" itemprop="thumbnail" alt="Form settings and publishing." data-size="[1000, 773]">
            </a>
            <figcaption itemprop="caption description">Form settings and publishing. </figcaption>
          </figure>
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/green/s/7.png" itemprop="contentUrl">
              <img src="http://assets.websiddu.com/green/s/7.png" itemprop="thumbnail" alt="Certification create page" data-size="[1000, 773]">
            </a>
            <figcaption itemprop="caption description">Certification create page </figcaption>
          </figure>
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/green/s/12.png" itemprop="contentUrl">
              <img src="http://assets.websiddu.com/green/s/12.png" itemprop="thumbnail" alt="Form responses page" data-size="[1000, 773]">
            </a>
            <figcaption itemprop="caption description">Form responses page </figcaption>
          </figure>
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://assets.websiddu.com/green/s/15.png" itemprop="contentUrl">
              <img src="http://assets.websiddu.com/green/s/15.png" itemprop="thumbnail" alt="Once the form is published it will look like this." data-size="[1000, 773]">
            </a>
            <figcaption itemprop="caption description">Once the form is published it will look like this.</figcaption>
          </figure>
        </div>
        <p class="alert info muted">**Work is in progress** I will update more content soon!</p>
      </div>
    </section>
    <section>
      <h5 class="section-heading">Learnings</h5>
      <div class="section-body">
        <ul class="notes">
          <li>
            People don't understand when you say check box or Radio buttons. Basically know your user better.
          </li>
          <li>
            The one line forms are confusing for the users. Form field should look like a from field.
          </li>
        </ul>
        <div class="clear"></div>
      </div>
    </section>
  </div>
</div>
