527f43b16265360002000000
<blockquote class="full">
  Low cost vehicle tracking system to help truck owners in small towns.
</blockquote>
<div class="row">
  <div class="large-12 columns">
    <aside>
      <div class="metadata">
        <dt>Date</dt>
        <dd>Jul 2011 to Aug 2011</dd>
      </div>
      <div class="metadata">
        <dt>Role</dt>
        <dd>Researcher</dd>
        <dd>Developer</dd>
      </div>
      <div class="metadata">
        <dt>Tasks</dt>
        <dd>Visual Design</dd>
        <dd>Development</dd>
      </div>
      <div class="metadata">
        <dt>Tools</dt>
        <dd>jQuery</dd>
        <dd>HTML</dd>
        <dd>CSS</dd>
        <dd>Photoshop</dd>
      </div>
    </aside>
    <section>
      <h5 class="section-heading">Summary</h5>
      <div class="section-body">
        <p>I developed a low cost vehicle tracking mechanism using Google Maps and GPS device on the truck. This is application is developed in order to help the small Truck owners who cannot effort a costly tracking systems. </p>
        <div class="link-container">
          <strong>Project Links</strong>
          <ol>
            <li>
              <a href="http://diamondesigners.com/tracking/" target="_blank">Application Link</a>
            </li>
          </ol>
        </div>
      </div>
    </section>
    <section>
      <h5 class="section-heading">How this works ?</h5>
      <div class="section-body">
        <p>
          A GPS tracking device must be attached to the vehicle and an SIM card of any network with GPS enabled. This device pings the nearest tower with the exact Latitude and Longitude along with the IMEA number of the device number, tower will send it to the server connected with internet next the server stores and maps the data with already store IMEA recored. Later that client can login to their account and monitor all the vehicles that are registered. Below is a diagram showing how this vehicle tracking works.
        </p>
        <img src="http://assets-websiddu.appspot.com/images/tracking/m/1.jpg" alt="flow chart for tracking" class="zoom" data-size="[550, 313]" height="313px" width="550px" data-height="313px" data-width="550px">
      </div>
    </section>
    <section>
      <h5 class="section-heading">Hardware</h5>
      <div class="section-body">
        <p>
          In the present market there are plethora of options to find out a low cost GPS's tracking device (It costs around ₹1500 to ₹2000 in year 2011). We can get any of the device that have a GSM option and able to ping server. Here is an image of how a tracking device looks like. One have to setup other hardware to enable options to alert on low fuel, low battery etc...
        </p>
        <img src="http://assets-websiddu.appspot.com/images/tracking/m/2.png" alt="flow chart for tracking" class="zoom" data-size="[484, 286]" height="286px" width="484px" data-height="286px" data-width="484px">
        <p>
          The main idea of the project is to track the vehicle using the GPS device attached to the moving object. We need to place a GPS Hardware device in the vehicle that we are going to track, each GPS device has it machine number and it will communicate the server socket using a GPS protocol which is given by the hardware device.
        </p>
      </div>
    </section>
    <section>
      <h5 class="section-heading">Initial Prototypes</h5>
      <div class="section-body">
        <p>
          As the idea of tracking clear. I started working on the initial prototypes, marking all the features that present in the application. Some initial thoughts here..
        </p>
        <img src="http://assets-websiddu.appspot.com/images/tracking/m/3.jpg" alt="Initial thoughts" class="zoom" data-size="[500, 389]" height="389px" width="500px" data-height="389px" data-width="500px">
        <img src="http://assets-websiddu.appspot.com/images/tracking/m/4.jpg" alt="the first screen" class="zoom" data-size="[1000, 750]" height="750px" width="1000px" data-height="750px" data-width="1000px">
      </div>
    </section>
    <section>
      <h5 class="section-heading">Features available</h5>
      <div class="section-body">
        <ul>
          <li> Customer Can Register any Number of vehicles into their account.</li>
          <li> Each vehicle must have a unique number.</li>
          <li> Live tracking (locates the position of the vehicle at present)</li>
          <li> Gives the Status like stopped, moving and also the Speed at which it is going on.</li>
          <li> Different types of alerts like Over Speed, Fuel Low, Battery Low etc..</li>
          <li> Route history of the vehicle(the route at which the vehicle has crossed in the given time)</li>
          <li> Other features like Fleet Usage, Sensor, Trip, Vehicle distance etc..</li>
        </ul>
      </div>
    </section>
    <section>
      <h5 class="section-heading">ScreenShots</h5>
      <div class="section-body">
        <img src="http://assets-websiddu.appspot.com/images/tracking/s/tt1.jpg" data-size="[1367, 939]" height="px" width="px" data-height="939px" data-width="1367px">
        <img src="http://assets-websiddu.appspot.com/images/tracking/s/tt2.jpg" data-size="[1367, 939]" height="px" width="px" data-height="939px" data-width="1367px">
        <img src="http://assets-websiddu.appspot.com/images/tracking/s/tt3.jpg" data-size="[1367, 939]" height="px" width="px" data-height="939px" data-width="1367px">
      </div>
    </section>
  </div>
</div>
